@charset "utf-8";

/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var, b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup, menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}
body{line-height:1}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{table-layout:fixed;border-collapse:collapse;border-spacing:0}
fieldset,img{border:0 none;vertical-align:middle}
hr{display:none}
input,select,textarea,button,label{vertical-align:middle;font-family:inherit}
input,select,textarea{border:1px #bdbdbd solid}
input[type=radio],input[type=checkbox]{width:13px;height:13px;margin:0;padding:0;border:none;vertical-align:middle}
textarea{resize:none;}
button{border:0 none;background-color:transparent;cursor:pointer}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
legend, caption{text-indent:-9999px;top:-9999px;left:-9999px;height:0}

*{box-sizing:border-box;}
/**/
a{text-decoration:none;color:inherit;line-height:1.5;}
input{border:1px solid #aaa;}
html,body{width:100%;height:100%;}
button,input{outline:none;}

body{font-family: 'Noto Sans KR', sans-serif;font-size:14px;}
#wrap{position:relative;width:100%;height:100%;overflow:hidden;}
#container{width:100%;padding-top:52px;height:100%;box-sizing:border-box;}
#container:after{content:'';display:block;clear:both;visibility:hidden;height:0;}
#treeArea{overflow:auto;height:100%;color:#333;}
/* #treeArea{float:left;overflow:auto;width:40%;height:100%;color:#333;}		
#viewArea{float:right;width:60%;height:100vh;padding-top:30px;display:flex;justify-content:flex-start;align-items:center;flex-flow:column;} */

.header{position:absolute;top:0;left:0;width:100%;padding:10px;background:#fff;}
.header:after{content:'';display:block;clear:both;visibility:hidden;height:0;}
.header input{line-height:30px;font-family: 'Noto Sans KR', sans-serif;font-size:14px;padding:0 10px;box-sizing:border-box;}
/* .filter-input{float:left;width:40%;padding-right:20px;box-sizing: border-box;} */
.filter-input{width:100%;box-sizing: border-box;}
.filter-input input{width:100%;}
.url-input{position:relative;float:left;width:60%;box-sizing:border-box;}
.url-input input{width:100%;}
.url-input a{position:absolute;top:0;right:0;display:block;font-size: 25px;}

.notice{position:fixed;bottom:0;right:0;width:100%;background:none;}
.notice a{position:absolute;bottom:0;right:0;}
.notice ul{display:none;margin:10px 0;}
.notice li{margin:4px 0;}
.notice li:after{content:'';display:block;clear:both;height:0;visibility: hidden;}
.notice li strong{float:left;}
.notice li p{float:left;}
.notice li p span{margin-right:10px;}
.notice.on{background:#fff;border-top:4px solid #aaa;}


.fa span{text-indent:-9999px;font-size:0;}
.view-comment{cursor:pointer;}

#root_tree{padding-bottom:0;}
#root_tree li{position:relative;padding:0 20px;font-size:16px;}
#root_tree li li{font-size:15px;}
#root_tree li li li{font-size:14px;}
#root_tree li ul,
#root_tree li + li{margin-top:5px;}
#root_tree > li{padding:0 10px 10px 10px;}
#root_tree > li > a:before{content:none;}
#root_tree > li > a{display:block;margin-bottom:10px;padding:5px 10px;border-radius:5px;background:#000;color:#fff;}		
#root_tree li strong{font-weight:400;line-height:1.5;}


.close:before{content:'';position:absolute;top:3px;left:0;width:16px;height:16px;background:url(../images/do_not_disturb_on.svg) no-repeat;background-size:cover;}
.open:before{content:'';position:absolute;top:3px;left:0;width:16px;height:16px;background:url(../images/add_circle.svg) no-repeat;background-size:cover;}
.working:before{content:'';position:absolute;top:3px;left:0;width:16px;height:16px;background:url(../images/clock_loader.svg) no-repeat;background-size:cover;}
.complete:before{content:'';position:absolute;top:3px;left:0;width:16px;height:16px;background:url(../images/check_circle.svg) no-repeat;background-size:cover;}
.dev:before{content:'';position:absolute;top:3px;left:0;width:16px;height:16px;background:url(../images/build.svg) no-repeat;background-size:cover;}
.modified:before{content:'';position:absolute;top:3px;left:0;width:16px;height:16px;background:url(../images/edit.svg) no-repeat;background-size:cover;}
.modified > a,
.modified > strong{color:#287eff}


#viewArea iframe{width:100%;height:100%;}
.view-area{position:relative;width:377px;height:640px;border:1px solid #ddd;}
.view-area .x{position:absolute;top:-30px;left:50%;transform:translateX(-50%)}
.view-area .y{position:absolute;right:-50px;top:50%;transform:translateY(-50%)}
.device-group{margin-top:30px;text-align:center;}
.device-group button{margin:10px;}

.macos #viewArea.view-mobile{width:375px;}

.gate{display:flex;height:100vh;font-family:'Noto Sans KR';}
.gate > div{display:flex;flex:1;justify-content:center;align-items:center;}
.gate a{font-size:36px;color:#333;}
.gate a:hover{text-decoration:underline;}

.view-btn{position:fixed;top:10px;right:10px;width:260px;}
.view-btn button{float:left;width:80px;height:20px;background-color:#333;color:#fff;}
.view-btn button + button{margin-left:10px;border-radius:4px;}

#viewArea{display:none;}
.url-input{display:none;}