@use "../base/variable"as v;
@use "../base/mixin"as m;
@use "../base/breakpoints"as b;

.board__wrap {
    margin-top: 72px;

    .board__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .total {
            font-size: v.$font-body-large;
            font-weight: v.$font-weight-bold;

            .num__area {
                em {
                    color: v.$primary-color-dark;
                }
            }

            .search__period {
                display: none;
            }
        }

        .list_select {
            font-weight: v.$font-weight-medium;

            span {
                display: inline-flex;
                align-items: center;
            }

            .select__box {
                width: auto;
                height: 29px;
                margin-left: v.$padding-4;

            }
        }

        .search__btn__area {
            display: none;
        }
    }

    .board__table {
        display: table;
        border-top: 2px solid v.$gray-color-70;
        margin-top: v.$padding-6;

        .board__tr {
            display: table-row;
            table-layout: fixed;


            &.thead {
                font-weight: v.$font-weight-medium;
                background: v.$color-surface-box2;
            }

            &.tbody:hover {
                background-color: #FCFBF2;
            }

            .th,
            .td {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                padding: v.$padding-3 v.$padding-6;
                border-bottom: 1px solid v.$gray-color-20;
                border-right: 1px solid v.$gray-color-20;
                height: 52px;
                padding: v.$padding-3;

                &:last-child {
                    border-right: none;
                }



                .flex__wrap {
                    display: flex;
                    gap: v.$gap-3;
                    flex-wrap: nowrap;
                    align-items: center;

                    .badge {
                        flex-shrink: 0;
                    }

                    .file_attach {
                        flex-shrink: 0;
                    }

                    .ellipsis {
                        flex: 1;
                        //flex: 0 0 50%;
                        @include m.ellipsis(100%, 1);
                    }
                }
            }

            .td {
                padding: v.$padding-5 v.$padding-6;

                .mo__label {
                    display: none;
                }
            }

            .td.title {
                text-align: left;
            }
        }
    }

    .more__area {
        display: none;
    }

    .pagination {
        margin-top: v.$gap-10;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: v.$gap-3;

            .page__item {
                .page__link {
                    display: block;
                    @include m.square(40px);
                    border-radius: 6px;
                    color: v.$gray-color-70;
                    text-align: center;
                    line-height: 40px;

                    &.active {
                        background-color: v.$primary-color;
                        color: #fff;
                    }

                    &.prev__page {
                        width: 62px;
                        display: flex;
                        align-items: center;

                        i {
                            @include m.square(20px);
                            mask: url(../images/common/arrow-left.svg) no-repeat center / 20px;
                            background-color: v.$gray-color-80;

                        }

                    }

                    &.next__page {
                        width: 62px;
                        display: flex;
                        align-items: center;

                        i {
                            @include m.square(20px);
                            mask: url(../images/common/arrow-right-g.svg) no-repeat center / 20px;
                            background-color: v.$gray-color-80;

                        }

                    }
                }
            }
        }

    }

    &.thumbnail {
        .board__list {
            margin-top: v.$padding-6;

        }
        .pagination{
            margin-top: 80px;
        }
    }

    .thumb__list {
        display: grid;
        gap: 48px 30px;
        grid-template-columns: 1fr 1fr 1fr;

        li {}

        .thumb {
            display: block;
            overflow: hidden;
            position: relative;
            border-radius: 10px;
            background-color: v.$gray-color-40;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: radial-gradient(rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 0.1) 100%);
            }

            &::after {
                content: "";
                display: block;
                padding-top: 56.25%;
            }
        }

        .subject {
            position: relative;
            margin-top: v.$gap-7;

            .tit {
                margin-top: v.$gap-5;
                min-height: 50px;
                @include m.ellipsis(100%, 2);
                font-size: v.$font-weight-medium;
                font-weight: v.$font-weight-semi-bold;
            }

            .date__area {
                margin-top: v.$gap-4;
                color: v.$gray-color-60;
            }

            .file_attach {
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }
    }
}

.nextprev-list {
    border-top: 1px solid v.$gray-color-20;
    border-bottom: 1px solid v.$gray-color-20;

    li {
        display: flex;
        align-items: center;
        gap: v.$gap-5;
        padding: 0 v.$padding-6;
        height: 64px;

        .tit {
            display: flex;
            align-items: center;
            gap: v.$gap-5;
            width: 90px;
            flex-shrink: 0;
            font-weight: v.$font-weight-semi-bold;
        }

        .link {
            flex-grow: 1;
            @include m.ellipsis(100%, 1);
        }

        span.link {
            color: v.$gray-color-40;
        }

        &+li {
            border-top: 1px solid v.$gray-color-20;
        }
    }
}

.board__detail {
    margin-top: v.$gap-10;

    .detail__top {

        padding-bottom: v.$padding-8;
        border-bottom: 1px solid v.$gray-color-20;

        .title {
            padding-bottom: v.$padding-8;
            font-size: v.$font-heading-large;
            font-weight: v.$font-weight-semi-bold;
        }

        .date__area {
            color: v.$gray-color-60;

            .label {
                display: inline-flex;
                font-weight: v.$font-weight-medium;
                min-width: 72px;
                color: v.$text-color-base;
            }

            .date {
                margin-top: v.$padding-2;
            }

        }
    }

    .detail__content {
        .view {
            padding: v.$padding-10 0 v.$padding-8;
        }
        .board__content{
            padding: v.$padding-10 0;
        }
        .file__area{
            display:flex;
            flex-direction: column;
            gap: v.$gap-7;
            padding-bottom: v.$padding-10;
            .title{
                font-size: v.$font-heading-medium;
                font-weight: v.$font-weight-bold;
            }
            .link{
                background: v.$color-surface-box2;
                border-radius: v.$gap-3;
                padding: v.$padding-6;
                display: flex;
                justify-content: space-between;
                span{
                    display: flex;
                    align-items: center;
                    gap: v.$gap-2;
                }
            }
        }
        .list__btn__area {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: v.$gap-10;

            .btn {
                min-width: 120px;
            }
        }
    }
    
} 


@include b.size-mobile {
    .board__wrap {
        margin-top: 0;

        .board__top {
            .total {
                .search__period {
                    display: block;
                    color: v.$gray-color-60;
                    font-weight: v.$font-weight-regular;
                    font-size: v.$font-body-small;
                }
            }

            .list__select {
                display: none;
            }

            .search__btn__area {
                display: block;

                .open__search__btn {
                    font-size: v.$font-body-xsmall;
                    display: block;
                    padding: v.$padding-2 v.$padding-4;

                    span {
                        display: block;
                    }

                }
            }
        }

        .board__table {
            display: flex;
            flex-direction: column;
            border: none;
            gap: 24px;

            .board__tr {
                position: relative;
                display: flex;
                flex-direction: column;
                border: 1px solid v.$gray-color-30;
                padding: 20px;
                border-radius: v.$gap-4;
                table-layout: auto;

                &.thead {
                    display: none;
                }

                .td {
                    border: none;
                    display: flex;
                    height: auto;

                    .flex__wrap {
                        max-width: 100%;
                        flex-direction: column;
                        align-items: flex-start;

                        .ellipsis {
                            @include m.ellipsis(100%, 2);
                            font-size: v.$font-body-large;
                            font-weight: v.$font-weight-semi-bold;
                        }
                    }

                    .mo__label {
                        display: block;
                        margin-right: v.$gap-3;
                        color: v.$gray-color-70;
                        font-weight: v.$font-weight-semi-bold;
                    }
                }
            }
        }

        .pagination {
            display: none;
        }

        .more__area {
            display: block;
            margin-top: v.$padding-7;

            .btn__more__page {
                width: 100%;
            }
        }
    }

    .nextprev-list {
        li {
            gap: v.$gap-3;

            .tit {
                gap: v.$gap-3;
                width: 80px;
            }
        }
    }

}