@use "../base/variable"as v;
@use "../base/mixin"as m;

$btn-radius: 6px;

.btn-group {
    display:flex;
    flex-wrap: wrap;
    gap: v.$gap-2;
    align-items: center;
    &--right {
        justify-content: flex-end;
    }
    &--center {
        justify-content: center;
    }
    &--between {
        justify-content: space-between;
    }
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: $btn-radius;
    height:48px;
    padding: 0 v.$padding-6;
    min-width: 78px;
    font-size: v.$font-body-medium;
    border: 1px solid transparent;
    &.primary {
        background-color: v.$primary-color;
        color: #fff;
        border-color: v.$primary-color;
        &:hover{
            background-color: v.$primary-color-dark;
        }
        &:disabled{
            background-color: v.$gray-color-20;
            border-color: v.$gray-color-20;
            color: v.$gray-color-50;
        }
        &.outline {
            border-color: v.$primary-color-dark;
            color: v.$primary-color;
            background-color: #fff;

            &:hover {
                background-color: v.$primary-color-lighter;
            }

            &:disabled {
                background-color: v.$gray-color-10;
                border-color: v.$gray-color-30;
                color: v.$gray-color-50;
            }
        }
    }
    &.tertiary{
        background-color: v.$gray-color-50;
        color: #fff;
        border-color: v.$gray-color-50;
        &:hover {
            background-color: v.$gray-color-60;
        }

        &:disabled {
            background-color: v.$gray-color-20;
            border-color: v.$gray-color-20;
            color: v.$gray-color-50;
        }
        &.outline {
            border-color: v.$gray-color-50;
            color: v.$gray-color-70;
            background-color: #fff;

            &:hover {
                background-color: v.$gray-color-5;
            }

            &:disabled {
                background-color: v.$gray-color-10;
                border-color: v.$gray-color-30;
                color: v.$gray-color-50;
            }
        }
    }
    &.large{
        height: 56px;
        min-width: 90px;
        border-radius: v.$gap-3;
        padding: 0 v.$padding-7;
        font-size: v.$font-body-large;
    }
    &.small {
        height: 40px;
        min-width: 64px;
        border-radius: $btn-radius;
        padding: 0 v.$padding-5;
    }
    &.xsmall {
        height: 32px;
        min-width: 60px;
        border-radius: v.$gap-2;
        padding: 0 v.$padding-4;
        font-size: v.$font-body-small;
    }
    &.text{
        height:32px;
        padding:0 v.$padding-1;
        color: v.$text-color-base;
        &.large {
            height: 40px;
            font-size: v.$font-body-large
        }
        &.small{
            height:24px;
            font-size: v.$font-body-small;
        }
        &.xsmall{
            height: 20px;
            font-size: v.$font-body-small;
        }
        &:disabled{
            color: v.$gray-color-40;
        }
    }

    
       
}

.btn_swiper{
        display: inline-flex;
        @include m.square(40px);
        border-radius: 50%;
        border: 1px solid v.$gray-color-20;
        background: #fff url(../images/common/arrow-left.svg) no-repeat center center / 20px;

        &>span {
            @include m.hidden-text();
        }

        &.next {
            background-image: url(../images/common/arrow-right-g.svg);

        }
        &.small{
            @include m.square(32px);
            background-size: 19px;
        }
}
.btn_view_detail{
    display: inline-flex;
    @include m.square(20px);
    background: url(../images/common/exclamation.svg) no-repeat 0 0;
    span{
        @include m.hidden_text();
    }
}

.btn__more{
    display:inline-flex;
    font-size: v.$font-body-medium;
    span{ 
        display: inline-flex;  
        padding-right: 22px;
        background: url(../images/common/btn-more.svg) no-repeat right center / 20px;
    }
    
}

@media (max-width: 1024px) {
    
}