@use "../base/variable"as v;
@use "../base/mixin"as m;
@use "../base/breakpoints"as b;

/* board.scss */
.board__wrap {
  margin-top: v.$gap-10;

  .board__list {
    &.scroll {
      overflow-x: auto;
      max-width: 978px;
      &.no__list{
        overflow: hidden;
        .board__table {
          &.online {
            width: 100%;
          }
        }
      }
    }
  }

  .board__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .total {
      display: flex;
      gap: v.$gap-4;
      font-size: v.$font-body-large;
      font-weight: v.$font-weight-bold;

      .num__area {
        em {
          color: v.$primary-color-dark;
        }
      }

      .base__date {
        font-weight: v.$font-weight-regular;
        font-size: v.$font-body-medium;
      }

      .search__period {
        display: none;
      }
    }

    .list__select {
      font-weight: v.$font-weight-medium;
      display: flex;
      gap: v.$gap-4;
      align-items: center;
      line-height: 32px;

      .btn.text {
        gap: v.$gap-2;
      }

      >span {
        display: inline-flex;
        align-items: center;
      }

      .select__box {
        width: auto;
        height: 32px;
      }

      .open__search__btn {
        display: none;
      }
    }

    // .search__btn__area {
    //     display: none;
    // }
  }

  .mo__label {
    display: none;
  }

  .board__table {
    display: table;
    border-top: 2px solid v.$gray-color-70;
    margin-top: v.$padding-6;
    width: 100%;

    &.type__mo {
      display: none;
    }

    &.type__pc {
      display: table;
    }

    .board__tr {
      display: table-row;
      table-layout: fixed;

      .th,
      .td {
        display: table-cell;
        height: 52px;
        vertical-align: middle;

        &:last-child {
          border-right: none;
        }

        .flex__wrap {
          display: flex;
          gap: v.$gap-3;
          flex-wrap: nowrap;
          align-items: center;
          width: fit-content;

          .badge {
            flex-shrink: 0;
          }

          .file_attach {
            flex-shrink: 0;
          }

          .ellipsis {
            flex: 1;
            //flex: 0 0 50%;
            @include m.ellipsis(100%, 1);
          }
        }
      }

      &.disabled {
        .td {
          background: v.$gray-color-5;
          color: v.$gray-color-50;

          a {
            pointer-events: none;
          }
        }
      }

      .inner__tit {
        font-weight: v.$font-weight-semi-bold;
        border-bottom: 1px solid v.$border-default;
        padding-bottom: v.$padding-3;
      }

      .inner__list {
        display: flex;
        flex-direction: column;
        gap: v.$gap-5;
        margin-top: v.$padding-2;

        &>li {
          display: flex;
          flex-direction: column;
          gap: v.$gap-3;
          padding-bottom: v.$padding-6;
          border-bottom: 1px solid v.$gray-color-20;

          &:last-child {
            border-bottom: none;
            padding-bottom: 0;
          }

          .td {
            display: flex;
            justify-content: space-between;
            gap: v.$gap-3;
          }
        }
      }
    }
  }

  .board__grid {
    border-top: 2px solid v.$gray-color-70;
    margin-top: v.$padding-6;

    .board__tr {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20%, auto));
      grid-template-rows: minmax(52px, auto);
      align-items: stretch;
      justify-items: stretch;

      .th,
      .td {
        line-height: 35px;
      }
    }
  }

  //table, grid 공통
  .board__tr {
    &.thead {
      font-weight: v.$font-weight-medium;
      background: v.$color-surface-box2;
    }

    &.tbody:hover {
      background-color: #fcfbf2;
    }

    .th,
    .td {
      text-align: center;
      padding: v.$padding-3 v.$padding-6;
      border-bottom: 1px solid v.$gray-color-20;
      border-right: 1px solid v.$gray-color-20;

      &:last-child {
        border-right: none;
      }
    }

    .td {
      padding: v.$padding-5 v.$padding-6;
      color: v.$text-color-sub;

      .mo__label {
        @include m.hidden-text();
        display: inline-block;
        position: absolute;
      }
    }

    .td.title {
      text-align: left;
    }

    &.no__list {
      display: flex;
      justify-content: center;
      table-layout: auto;
      padding: 64px 0;
      text-align: center;
      width: 100%;
      border-bottom: 1px solid v.$border-gray-light;

      .svg__icon {
        @include m.square(48px);
        background-size: 33px;
        margin: 0 auto v.$padding-4;
      }
    }
  }

  &.thumbnail {
    .board__list {
      margin-top: v.$padding-6;
    }

    .pagination {
      margin-top: 80px;
    }
  }

  .thumb__list {
    display: grid;
    gap: 48px 30px;
    grid-template-columns: 1fr 1fr 1fr;

    &>li {
      a {
        position: relative;
        display: block;
      }
    }

    .thumb {
      display: block;
      overflow: hidden;
      position: relative;
      border-radius: 10px;
      background-image: url(/resources/img/layout/no-image.png);
      background-color: #f4f5f6;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(rgba(0, 0, 0, 0) 36%,
            rgba(0, 0, 0, 0.1) 100%);
      }

      &::after {
        content: "";
        display: block;
        padding-top: 56.25%;
      }

      .time__area {
        position: absolute;
        right: v.$gap-4;
        bottom: v.$gap-4;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 0 v.$padding-2;
        border-radius: v.$padding-2;
        font-size: v.$font-body-small;
      }
    }

    .subject {
      margin-top: v.$gap-7;

      .tit {
        margin-top: v.$gap-5;
        //min-height: 50px;
        @include m.ellipsis(100%, 2);
        font-size: v.$font-heading-small;
        font-weight: v.$font-weight-semi-bold;
      }

      .date__area {
        margin-top: v.$gap-4;
        color: v.$gray-color-60;

        .label {
          display: inline-flex;
          min-width: 60px;
          font-weight: v.$font-weight-semi-bold;
          color: v.$text-color-sub;
        }
      }

      .file_attach {
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .new__window {
        position: absolute;
        right: v.$gap-6;
        bottom: v.$gap-6;
      }
    }
  }
}

li.board__wrap {
  display: none;

  &.active {
    display: list-item;
  }
}

.pagination {
  margin-top: v.$gap-10;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: v.$gap-3;

    .page__item {
      .page__link {
        display: block;
        @include m.square(40px);
        border-radius: 6px;
        color: v.$text-color-sub;
        text-align: center;
        line-height: 40px;

        &.active {
          background-color: v.$primary-color;
          color: #fff;
        }

        &.prev__page {
          width: 62px;
          display: flex;
          align-items: center;

          i {
            @include m.square(20px);
            mask: url(../img/common/arrow-left.svg) no-repeat center / 20px;
            background-color: v.$gray-color-80;
          }
        }

        &.next__page {
          width: 62px;
          display: flex;
          align-items: center;

          i {
            @include m.square(20px);
            mask: url(../img/common/arrow-right-g.svg) no-repeat center / 20px;
            background-color: v.$gray-color-80;
          }
        }
      }
    }
  }
}

.more__area {
  display: none;
}

.nextprev-list {
  border-top: 1px solid v.$gray-color-20;
  border-bottom: 1px solid v.$gray-color-20;

  li {
    display: flex;
    align-items: center;
    gap: v.$gap-5;
    padding: 0 v.$padding-6;
    height: 64px;

    .tit {
      display: flex;
      align-items: center;
      gap: v.$gap-5;
      width: 90px;
      flex-shrink: 0;
      font-weight: v.$font-weight-semi-bold;
    }

    .link {
      flex-grow: 1;
      @include m.ellipsis(100%, 1);
    }

    span.link {
      color: v.$gray-color-40;
    }

    &+li {
      border-top: 1px solid v.$gray-color-20;
    }
  }
}

.board__detail {
  .detail__top {
    padding-bottom: v.$padding-8;
    border-bottom: 1px solid v.$gray-color-20;

    .title {
      padding-bottom: v.$padding-8;
      font-size: v.$font-heading-large;
      font-weight: v.$font-weight-semi-bold;
    }

    .date__area {
      color: v.$gray-color-60;

      .label {
        display: inline-flex;
        font-weight: v.$font-weight-medium;
        min-width: 72px;
        color: v.$text-color-base;
      }

      .date {
        margin-top: v.$padding-2;
      }
    }
  }

  .detail__content {
    .view {
      padding: v.$padding-10 0;
    }

    .file__area {
      display: flex;
      flex-direction: column;
      border-top: 1px solid v.$gray-color-20;
      gap: v.$gap-4;
      padding: v.$padding-10 0;

      .title {
        font-size: v.$font-heading-medium;
        font-weight: v.$font-weight-bold;
        margin-bottom: v.$padding-5;
      }

      .link {
        background: v.$color-surface-box2;
        border-radius: v.$gap-3;
        padding: v.$padding-6;
        display: flex;
        justify-content: space-between;

        span {
          display: flex;
          align-items: center;
          gap: v.$gap-2;
        }
      }
    }

    .btn__area {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: v.$gap-10;

      .btn {
        min-width: 120px;
      }
    }
  }
}

@include b.size-mobile {
  .board__wrap {
    margin-top: 0;

    .board__top {
      .total {
        flex-direction: column;
        gap: 0;

        .base__date {
          font-size: v.$font-body-xsmall;
          color: v.$text-color-date;
        }

        .search__period {
          display: block;
          color: v.$gray-color-60;
          font-weight: v.$font-weight-regular;
          font-size: v.$font-body-small;
        }
      }

      .list__select {
        gap: 0;

        em,
        .form__area {
          display: none;
        }

        .btn.text.exceldownload {
          flex-direction: column;
          height: auto;
          gap: 0;

          span {
            display: block;
            font-size: v.$font-body-xsmall;
          }
        }

        .open__search__btn {
          font-size: v.$font-body-xsmall;
          display: block;
          //padding: v.$padding-2 v.$padding-4;

          span {
            display: block;
          }
        }
      }

      .search__btn__area {
        display: block;
      }
    }

    .board__table {
      display: flex;
      flex-direction: column;
      border: none;
      gap: 16px;

      &.type__mo {
        display: flex;
      }

      &.type__pc {
        display: none;
      }

      .board__tr {
        position: relative;
        display: flex;
        flex-direction: column;
        table-layout: auto;
        border: 1px solid v.$gray-color-30;
        padding: v.$padding-7;
        border-radius: v.$gap-4;
        overflow: hidden;

        &.thead {
          display: none;
        }

        .td {
          border: none;
          display: flex;
          height: auto;
          padding: 0;

          .flex__wrap {
            max-width: 100%;
            flex-direction: column;
            align-items: flex-start;

            .ellipsis {
              @include m.ellipsis(100%, 2);
              font-size: v.$font-body-large;
              font-weight: v.$font-weight-semi-bold;
              height: 57px;
              line-height: 28px;
              word-break: break-all;
              position: relative;
              span{
                font-size: v.$font-body-large;
              }

            }
          }
        }
      }
    }

    .board__grid {
      display: flex;
      flex-direction: column;
      border: none;
      gap: 16px;

      .board__tr {
        position: relative;
        display: flex;
        flex-direction: column;
        table-layout: auto;
        border: 1px solid v.$gray-color-30;
        padding: v.$padding-7;
        border-radius: v.$gap-4;
        gap: v.$gap-4;

        &.thead {
          display: none;
        }

        .td {
          border: none;
          display: flex;
          justify-content: space-between;
          height: auto;
          line-height: 1.5;
          padding: 0;
        }
      }
    }

    .board__tr {
      &.tbody:hover {
        background: #fff;
      }

      .td {
        font-size: v.$font-body-small;

        .mo__label {
          display: block;
          position: relative;
          margin-right: v.$gap-3;
          color: v.$text-color-sub;
          font-weight: v.$font-weight-semi-bold;
          user-select: auto;
          text-indent: 0;
          text-align: left;
        }
      }

      &.no__list {
        border-right: none;
        border-left: none;
        border-bottom: none;
        border-radius: 0;
        border-top: 2px solid v.$border-default;
        padding: v.$padding-10 0;
      }
    }

    .thumb__list {
      grid-template-columns: 1fr;
      gap: v.$gap-5;

      a {
        padding: v.$padding-7;
        border: 1px solid v.$gray-color-30;
        border-radius: v.$gap-4;
      }

      .subject {
        margin-top: v.$padding-6;

        .tit {
          margin-top: v.$padding-3;
        }

        .date__area {
          margin-top: v.$padding-3;
          font-size: v.$font-body-small;
        }

        .file_attach {
          right: v.$gap-6;
          bottom: v.$gap-6;
        }
      }
    }
  }

  .board__detail {
    .detail__top {
      padding-bottom: v.$padding-5;

      .title {
        font-size: v.$font-heading-small;
        padding-bottom: v.$padding-5;
      }

      .date__area {
        font-size: v.$font-body-small;

        .date {
          margin-top: 0;
        }
      }
    }

    .detail__content {
      .view {
        padding: v.$padding-8 0;
      }

      .file__area {
        gap: v.$gap-3;
        padding-bottom: v.$padding-8;
      }

      .btn__area {
        margin-top: v.$padding-8;
      }
    }
  }

  .nextprev-list {
    li {
      gap: v.$gap-3;

      .tit {
        gap: v.$gap-3;
        width: 80px;
      }
    }
  }

  .pagination {
    display: none;
  }

  .more__area {
    display: block;
    margin-top: v.$padding-6;

    .btn__more__page {
      width: 100%;
    }
  }
}