@use "../base/variable"as v;
@use "../base/mixin"as m;
@use "../base/breakpoints"as b;

.round__box {
    display: block;
    background-color: #fff;
    border-radius: v.$padding-5;
    padding: v.$padding-8;
    height: 100%;

    &.outline {
        border: 1px solid v.$gray-color-20;

        &.bg__red {
            border-color: v.$color-dager-light;
        }
    }

    &.bg__gray {
        background-color: v.$gray-color-5;
    }

    &.bg__red {
        background-color: v.$color-dager-lighter;
    }

}

.badge {
    display: inline-flex;
    font-size: v.$font-body-small;
    border-radius: 4px;
    padding: 0 8px;
    font-weight: v.$font-weight-regular;

    background-color: #fff;

    text-transform: capitalize;

    &.emergency {
        background-color: v.$color-dager;
        color: #fff;

        span {
            display: inline-flex;
            padding-left: v.$padding-6;
            background: url(../img/common/ico-siren.svg) no-repeat left center / 12px;
        }
    }

    &.new {
        background-color: v.$color-dager-lighter;
        color: v.$color-dager;
    }

    &.noti {
        background-color: v.$color-information-lighter;
        color: v.$color-information;
    }

    &.data {
        background-color: v.$color-success-lighter;
        color: v.$color-success;
    }

    &.normal {
        background-color: #fff;
        color: v.$primary-color-dark;
        border: 1px solid v.$primary-color;
    }

    &.progress {
        background-color: v.$primary-color;
        color: #fff;
    }

    &.complete {
        background-color: v.$gray-color-10;
        color: v.$gray-color-50;
    }

    &.incomplete {
        background-color: v.$color-warning;
    }

    &.contract {
        background-color: #fff;
        color: v.$color-dager;
        border: 1px solid v.$color-dager;
    }

    &.end {
        background-color: #61758F;
        color: #fff;
    }

    &.medium {
        height: v.$gap-8;
        line-height: v.$gap-8;

        &.complete {
            border: 1px solid v.$gray-color-40;
        }
    }

    &.large {
        border-radius: 32px;
        padding: v.$padding-3 v.$padding-6;
        font-weight: v.$font-weight-semi-bold;

        span {
            background-size: 16px;
            padding-left: v.$padding-7;
        }
    }
}

//popup
.modal__popup {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 2000;
    transform: translate(-50%, -50%);
    width: calc(100vh - 48px);
    max-width: 760px;
    max-height: calc(100% - 100px);
    padding: v.$padding-9 0;
    background-color: #fff;
    display: none;

    &.is__active {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        &:focus{
            outline: solid 2px v.$gray-color-60;
        }
    }

    &.alert{
        width: 400px;
        height:auto;
        min-height: 200px;
        border-radius: v.$gap-4;
        padding: v.$padding-8;

        .modal__header{
            border-bottom: none;
            height:24px;
        }
        .modal__inner {
            padding-top: v.$padding-6;
            text-align: center;
        }
        .btn__area{
            display: flex;
            justify-content: center;
            gap: v.$gap-4;
            margin-top: v.$padding-8;
            button{
                min-width:120px;
            }
        }
    }

    .modal__header {
        margin: 0 v.$padding-9;
        border-bottom: 2px solid #000;
        .tit {
            display: block;
            font-size: v.$font-heading-medium;
            font-weight: v.$font-weight-bold;
            padding-bottom: v.$padding-8;
        }
    }

    .modal__inner {
        padding: 0 v.$padding-9;
        height: 100%;
        overflow-y: auto;
        .pop__contents {
            .detail__top {
                padding: v.$padding-6 v.$padding-8;
                
                .title {
                    font-weight: v.$font-weight-semi-bold;
                    font-size: v.$font-heading-medium;
                }

                .date__area {
                    font-size: v.$font-body-small;
                    color: v.$gray-color-60;
                    margin-top: v.$padding-5;

                    .label {
                        color: v.$text-color-sub;
                        font-weight: v.$font-weight-semi-bold;
                        min-width: 65px;
                        display: inline-flex;
                        margin-right: v.$padding-3;
                    }
                }
            }
        }
        .detail__content {
            padding: 36px 0;
            border-top: 1px solid #98ACC5;
        }

        .btn__area {
            display: flex;
            justify-content: center;
            margin-bottom: 36px;
        }
    }

    .btn__close {
        position: absolute;
        top: v.$gap-8;
        right: v.$gap-8;
    }
    
}
.btn__more__view {
    display: block;
    @include m.square(32px);
    border-radius: 50%;
    border: 1px solid v.$gray-color-20;
    background: url(../img/common/arrow-down.svg) no-repeat center center / 19px;
    span {
        @include m.hidden-text();
        display: inline-block;

    }
    &.on{
        background: url(../img/common/arrow-up.svg) no-repeat center center / 19px;
    }
}

@include b.size-mobile {
    .modal__popup {
        width: 100%;
        max-width: 100%;
        height: 100vh;
        max-height: 100%;
        padding: v.$padding-7 0;
        &.alert {
            width: calc(100vw - 40px);
            max-width: 400px;
        }
        .modal__header {
            margin: 0 v.$padding-7;
            .tit {
                padding-bottom: v.$padding-6;
            }
        }

        .modal__inner {
            padding: 0 v.$padding-7;

        }

        .btn__close {
            top: v.$padding-7;
            right: v.$padding-7;
        }
    }
    .btn__more__view {
        @include m.square(24px);
        background-size: 16px;
    }
}

