@use "../base/mixin";

.footer {
    position: relative;
    font-family: 'Noto Sans KR';
    border-top: 1px solid #d9d9d9;
    .family-site {
        position: relative;
        height: 60px;
        padding-top: 13px;
        border-bottom: 2px solid #f6f9fc;

        &__list {
            position: relative;
            max-width: 1280px;
            margin: 0 auto;
            @include mixin.clearfix;

            .slick-slider {
                position: relative;
                padding: 0 50px;
            }

            .slick-arrow {
                position: absolute;
                top: 50%;
                width: 30px;
                height: 36px;
                transform: none;
                margin-top: -18px;
                font-size: 0;
                background: url(@/assets/images/common/sp_arr_familysite.png) no-repeat 0 0;
            }

            .slick-prev,
            .slick-next {
                &:before {
                    display: none;
                }

                &:hover,
                &:focus {
                    background: url(@/assets/images/common/sp_arr_familysite.png) no-repeat 0 0;
                }
            }

            .slick-prev {
                left: -10px;
            }

            .slick-next {
                right: -10px;
                background-position: -40px 0;

                &:hover,
                &:focus {
                    background: url(@/assets/images/common/sp_arr_familysite.png) no-repeat -40px 0;
                }
            }
        }

        &__item {
            float: left;
            font-size: 0;
            text-align: center;

        }

        &__anchor {
            display: inline-block;
            line-height: 33px;
            vertical-align: top;
            text-align: center;

        }

        &__image {
            display: inline-block !important;
            vertical-align: middle;
        }
    }

    &-wrap {
        position: relative;
        padding: 30px 0 50px;
        color: #999;
        background-color: #fff;
    }

    &-contents {
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        @include mixin.clearfix;

        &__left {
            float: left;
            font-size: 0;
        }

        &__right {
            float: right;
            text-align: right;
            display: flex;
            @include mixin.clearfix;
        }

        &__in-left {
            float: left;
        }

        &__in-right {
            float: right;
            position: relative;
            line-height: 1;
            margin-left: 20px;
        }
    }

    &-logo {
        display: block;
        width: 130px;
        height: 28px;
        background: url(@/assets/images/common/footer_logo.png) no-repeat;
    }

    &-menu {
        margin: 25px 0 14px;

        &__item {
            position: relative;
            float: left;
            padding-right: 25px;

            &:last-child {
                padding-right: 0;

                &:after {
                    display: none;
                }
            }

            &:after {
                content: '';
                position: absolute;
                top: 3px;
                right: 10px;
                width: 1px;
                height: 10px;
                background-color: #acacac;
            }
        }

        &__anchor {
            display: block;
            font-size: 14px;
            line-height: 1;

            &--key-color {
                color: #0b7f3d;
                font-weight: 500;
            }
        }

        @include mixin.clearfix;
    }

    &-address,
    &-paragraph,
    &-copyright {
        position: relative;
        color: #aaa;
        font-size: 14px;
        line-height: 22px;
        vertical-align: top;
    }

    &-paragraph {
        display: inline-block;
        vertical-align: top;
    }

    &-span {
        display: inline-block;
        margin-left: 15px;
    }

    &-copyright {
        display: block;
        margin-top: 22px;
    }

    &-isms {
        margin-top: 5px;
        text-align: left;

        &__logo {
            width: 60px;
            margin: 0 auto;
        }

        &__txt {
            font-size: 10px;
        }

    }

    &-customer {
        &__large-txt {
            padding-left: 36px;
            color: #666;
            font-size: 28px;
            font-weight: 700;
            font-family: 'Noto Sans KR';
            line-height: 1.2;
            background: url(@/assets/images/common/icon_cs.png) no-repeat 0 5px;
        }

        &__txt {
            color: #aaa;
            font-size: 15px;
            line-height: 22px;
            margin-top: 5px;
            word-break: keep-all;

            &--mail {
                margin-top: 0;

                a {
                    color: #aaa;
                }
            }
        }

        &__span {
            display: block;
        }

        &__number {
            display:block;
        }
    }
}

@media (max-width: 1390px) {
    .footer {
        &-paragraph {
            &+& {
                display: block;
            }
        }

        &-span {
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 1320px) and (min-width: 1025px) {
    .footer {
        .family-site {
            &__list {
                margin: 0 20px;
            }
        }

        &-contents {
            margin: 0 20px;

        }
    }
}

@media (max-width: 1155px) {
    .footer {
        &-contents {
            &__left {
                float: none;
            }

            &__right {
                float: none;
                margin-top: 20px;
            }

            &__in-right {
                float: left;
                text-align: left;
            }
        }
        &-customer {
            &__large-txt {
                position: relative;
                background: none;
                padding-left: 0;
                &:before {
                    content: "";
                    display: inline-block;
                    width: 22px;
                    height: 23px;
                    background: url(@/assets/images/common/icon_cs.png) no-repeat 0 0;
                    margin-right: 5px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .footer {
        .family-site {
            height: 43px;
            padding: 5px 0;

            &__list {
                padding: 0 24px;

                .slick-slider {
                    padding: 0 24px;
                }

                .slick-arrow {
                    width: 33.6px;
                    height: 38.4px;
                    margin-top: -19.2px;
                    background: url(@/assets/images/common/m_sp_arr_familysite.png) no-repeat 0 0;
                    background-size: 79.2px;
                }

                .slick-prev,
                .slick-next {

                    &:hover,
                    &:focus {
                        background: url(@/assets/images/common/m_sp_arr_familysite.png) no-repeat 0 0;
                        background-size: 79.2px;
                    }
                }

                .slick-prev {
                    left: -12px;
                }

                .slick-next {
                    right: -12px;
                    background-position: -45.6px 0;

                    &:hover,
                    &:focus {
                        background: url(@/assets/images/common/m_sp_arr_familysite.png) no-repeat -45.6px 0;
                        background-size: 79.2px;
                    }
                }
            }

            &__item {
                line-height: 33px;
            }

            &__anchor {
                height: 18px;
                line-height: 0;
                vertical-align: middle;
                background-size: 100% !important;

                &01 {
                    width: 55px;
                    background: url(@/assets/images/common/m_familysite_logo01.png) no-repeat 50% 50%;
                }

                &02 {
                    width: 79px;
                    background: url(@/assets/images/common/m_familysite_logo02.png) no-repeat 50% 50%;
                }

                &03 {
                    width: 78px;
                    background: url(@/assets/images/common/m_familysite_logo03.png) no-repeat 50% 50%;
                }

                &04 {
                    width: 63px;
                    background: url(@/assets/images/common/m_familysite_logo04.png) no-repeat 50% 50%;
                }

                &05 {
                    width: 91px;
                    background: url(@/assets/images/common/m_familysite_logo05.png) no-repeat 50% 50%;
                }

                &06 {
                    width: 84px;
                    height: 33px;
                    background: url(@/assets/images/common/m_familysite_logo06.png) no-repeat 50% 50%;
                }

                &07 {
                    width: 96px;
                    background: url(@/assets/images/common/m_familysite_logo07.png) no-repeat 50% 50%;
                }

                &08 {
                    width: 24px;
                    height: 22px;
                    background: url(@/assets/images/common/m_familysite_logo08.png) no-repeat 50% 50%;
                }

                &09 {
                    width: 49px;
                    height: 28px;
                    background: url(@/assets/images/common/m_familysite_logo09.png) no-repeat 50% 50%;
                }

                &10 {
                    width: 48px;
                    background: url(@/assets/images/common/m_familysite_logo10.png) no-repeat 50% 50%;
                }

                &11 {
                    width: 103px;
                    background: url(@/assets/images/common/m_familysite_logo11.png) no-repeat 50% 50%;
                }

                &12 {
                    width: 175px;
                    background: url(@/assets/images/common/m_familysite_logo12.png) no-repeat 50% 50%;
                }

                &13 {
                    width: 74px;
                    background: url(@/assets/images/common/m_familysite_logo13.png) no-repeat 50% 50%;
                }

                &14 {
                    width: 89px;
                    background: url(@/assets/images/common/m_familysite_logo14.png) no-repeat 50% 50%;
                }

                &15 {
                    width: 93px;
                    height: 32px;
                    background: url(@/assets/images/common/familysite_logo15.png) no-repeat 50% 50%;
                }

                &16 {
                    width: 68px;
                    height: 21px;
                    background: url(@/assets/images/common/familysite_logo16.png) no-repeat 50% 50%;
                }
            }

            &__image {
                display: none !important;
            }
        }

        &-wrap {
            padding: 24px 0;
        }

        &-contents {
            padding: 0 24px;
            &__right {
                display:block;
            }
            &__in-left {
                float: none;
                text-align: left;
            }

            &__in-right {
                float: none;
                margin: 20px 0 0 0;
            }
        }

        &-logo {
            display: block;
            width: 110px;
            height: 24px;
            background: url(@/assets/images/common/m_footer_logo.png) no-repeat 0 0;
            background-size: 100%;
            &__image {
                display: none;
            }
        }

        &-menu {
            margin-top: 24px;

            &__item {
                margin-bottom: 6px;

                &:after {
                    top: 1px;
                    right: 12px;
                    height: 14px;
                }
            }

            &__anchor {
                font-size: 12px;
            }
        }

        &-address,
        &-paragraph,
        &-copyright {
            line-height: 20px;
        }

        &-paragraph {
            display: inline-block;
            vertical-align: top;
        }

        &-span {
            margin-left: 0
        }

        &-copyright {
            margin-top: 20px;
        }

        &-isms {
            display: inline-block;
            margin: 3px 0 0 7px;

            &__logo {
                display: inline-block;
                margin: 0;
                vertical-align: top;
            }

            &__txt {
                font-size: 12px;
            }
        }

        &-customer {
            &__large-txt {
                
                // margin-right: 12px;
                // padding-left: 21px;
                font-size: 18px;
                background:none;
                // background: url(@/assets/images/common/m_icon_cs.png) no-repeat 0 50%;
                // background-size: 16px;
                &:before {      
                    width: 16px;
                    height: 18px;              
                    background: url(@/assets/images/common/m_icon_cs.png) no-repeat 0 100%;
                    background-size: 16px;
                    margin-right: 3px;
                }
            }

            &__txt {
                margin-right: 0;
                font-size: 14px;
            }

            &__span {
                display: inline-block;
            }
        }
    }
}

@media (max-width: 767px) {
    .footer {
        .family-site {
            height: 35px;
            padding: 4px 20px;

            &__list {
                padding: 0 20px;

                .slick-slider {
                    padding: 0 20px;
                }

                .slick-arrow {
                    width: 28px;
                    height: 32px;
                    margin-top: -16px;
                    background-size: 66px;
                }

                .slick-prev,
                .slick-next {

                    &:hover,
                    &:focus {
                        background: url(@/assets/images/common/m_sp_arr_familysite.png) no-repeat 0 0;
                        background-size: 66px;
                    }
                }

                .slick-prev {
                    left: -10px;
                }

                .slick-next {
                    right: -10px;
                    background-position: -38px 0;

                    &:hover,
                    &:focus {
                        background: url(@/assets/images/common/m_sp_arr_familysite.png) no-repeat -38px 0;
                        background-size: 66px;
                    }
                }
            }

            &__item {
                line-height: 27px;
            }

            &__anchor {
                height: 15px;

                &01 {
                    width: 46px;
                }

                &02 {
                    width: 66px;
                }

                &03 {
                    width: 65px;
                }

                &04 {
                    width: 53px;
                }

                &05 {
                    width: 76px;
                }

                &06 {
                    width: 70px;
                    height: 27px;
                }

                &07 {
                    width: 80px;
                }

                &08 {
                    width: 20px;
                    height: 18px;
                }

                &09 {
                    width: 41px;
                    height: 23px;
                }

                &10 {
                    width: 40px;
                }

                &11 {
                    width: 86px;
                }

                &12 {
                    width: 146px;
                }

                &13 {
                    width: 62px;
                }

                &14 {
                    width: 74px;
                }

                &15 {
                    width: 73px;
                    height: 25px;
                }

                &16 {
                    width: 58px;
                    height: 18px;
                }
            }
        }

        &-wrap {
            padding: 20px 0;
        }

        &-contents {
            padding: 0 20px;
        }

        // &-logo {
        //     width: 118px;
        //     height: 17px;
        // }

        &-menu {
            margin: 20px 0 10px;

            &__item {
                margin-bottom: 5px;
                padding-right: 21px;

                &:after {
                    right: 10px;
                    height: 12px;
                }
            }
        }

        &-address,
        &-paragraph,
        &-copyright {
            font-size: 12px;
            line-height: 17px;
        }

        &-copyright {
            margin-top: 17px;
        }

        &-customer {
            &__large-txt {
                margin-right: 10px;
                // padding-left: 18px;
                font-size: 15px;                
                &:before {
                    width:13px;
                    background-position: 0 100%;
                    background-size: 13px;
                }               
            }

            &__txt {
                font-size: 12px;
                line-height: 15px;
            }
            &__number {
                display: inline;
                margin-left:4px;
            }
        }
    }
}