@use "../base/variable"as v;
@use "../base/mixin"as m;
$gnb-height:80px;
.header {
    &__wrap{
        @include m.position($p: fixed, $t: 0, $l: 0);
        width:100%;
        background-color: #fff;
        z-index: 1000;
        border-bottom: 1px solid v.$gray-color-10;
    }
    &__inner {
        @include m.flex-center();

        &:first-child {
            background-color: #EEF2F7;
            height: 60px;
        }
    }

    .notice__area {
        @include m.flex-between();
        align-items: center;
        width: v.$content-size;

        div>ul {
            display: inline-flex;
            li > span{
                line-height:36px;
            }
            .age{
                padding-left: 32px;
                background: url(../images/common/ico_megaphone.svg) no-repeat center left;
                span{
                    color: v.$color-information;
                    font-weight: v.$font-weight-semi-bold;
                }
            }
            .maximum{ 
                margin-left: v.$padding-2;
                padding-right: 78px;
                background: url(../images/common/img-sale-notice.png) no-repeat center right /70px;
                span{
                    color: v.$color-dager-dark;
                    font-weight: v.$font-weight-semi-bold;
                }
            }
            .my_store{
                span{
                   @include m.ellipsis(330px, 1);                
                }
            }
            .store{
                display: flex;
                align-items: center;
            }
            .btn-alam{
                padding:6px;
                span{
                    display:block;
                    @include m.square(24px);
                    background: url(../images/common/ico-bell.svg) no-repeat center center /24px;
                    @include m.hidden-text();
                }
            }
        }
    }

    .logo__area {
        display: flex;
        width: v.$content-size;
        background-color: #fff;
        height: $gnb-height;
        align-items: center;

        a{
            display: flex;
            align-items: center;
            span{
                font-size: v.$font-heading-medium;
                color: v.$gray-color-50;
                padding-left: v.$padding-3;
            }
        }
    }

    .gnb {
        @include m.position($t: 60px, $l: 0);
        width: 100%;
        &__inner {
            @include m.set-inner();
            z-index: 1000;
            .main__depth {
                @include m.flex-center-all;
                margin: 0;
                height: $gnb-height;
                column-gap: v.$gap-5;
                transition: all 0.188s ease-in;

                >li>a{
                    display: block;
                    padding:0 v.$padding-6;
                    font-weight: v.$font-weight-bold;
                    font-size: v.$font-body-large;
                    color: v.$gray-color-70;
                    height: $gnb-height;
                    line-height: $gnb-height;
                }
            }
            .sub__wrap{
                display: none;
                @include m.position($t:$gnb-height, $l:0);
                background: #fff;
                width: 100%;
                z-index: 100;
                transition: all 0.1 ease;
                &.on{
                    display: block;
                    height:auto;
                }
                .sub__inner{
                    @include m.set-inner();
                    display: flex;
                    .title__area{
                        padding: v.$padding-9 0;
                        flex-basis: 240px;

                        .title{
                            text-align: center;
                            i{
                                display: inline-flex;
                                @include m.square(90px);
                                border-radius: 50%;
                                background: v.$primary-color-lighter url(../images/common/ico-gnb-1.png) no-repeat center center / 52px;
                            }
                            em{
                                display: block;
                                font-size: v.$font-heading-medium;
                                font-weight: v.$font-weight-bold;
                            }
                        }
                        
                    }
                    .depth__1{
                        display: flex;
                        gap: 48px 64px;
                        align-self: stretch;
                        flex-wrap: wrap;
                        flex-grow: 1;
                        padding: v.$padding-8 0 v.$padding-8 v.$padding-10;

                        &>li{
                            display: flex;
                            gap: v.$gap-2;
                            align-self: stretch;
                            flex-basis: 290px;
                            flex-direction: column;
                            
                            >a{
                                padding: v.$padding-4 0;
                                border-bottom: 1px solid v.$gray-color-20;
                                font-size: v.$font-heading-small;
                                font-weight: v.$font-weight-bold;
                            }

                            .depth__2{
                                padding-top: v.$padding-3;
                                padding-bottom: v.$padding-6;

                                &>li{

                                    &>a{
                                        display: block;
                                        position: relative;
                                        padding: v.$padding-4 0;

                                        &::before{
                                            display: inline-flex;
                                            content: '';
                                            @include m.square(4px);
                                            background-color: v.$gray-color-80;
                                            position: absolute;
                                            top:50%;
                                            left:0;
                                            transform: translateY(-50%);
                                        }

                                        span{
                                            display: inline-flex;
                                            padding-left: v.$padding-4;
                                            
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .gnb__bg {
        display: none;
        width: 100%;
        height: calc(100vh - 140px);
        position: absolute;
        top: 140px;
        left: 0;
        background-color: #000;
        opacity: .65;

        &.pop {
            display: block;
            position: fixed;
            height: 100vh;
            top: 0;
            z-index: 1001;
        }

        &.on {
            display: block;
        }
    }
}

