@use "../base/variable"as v;
@use "../base/mixin"as m;
@use "../base/breakpoints"as b;

.survey {
    //설문조사

    .board__wrap {
        .board__list {

            .td,
            .th {
                &.division {
                    width: 11%;
                }

                &.date {
                    width: 14%;
                }

                &.period {
                    width: 26%;
                }

                &.title {
                    width: 49%;
                }

                .flex__wrap {
                    max-width: 480px;

                    .badge__area {

                        .division,
                        .complete {
                            display: none
                        }
                    }
                }
            }
        }


    }

    .board__detail {

        .detail__content {
            .survey__area {


                .title {
                    border-top: 2px solid #61758F;
                    padding: v.$padding-8 v.$padding-8 v.$padding-8 62px;
                    background: url(../img/layout/ico-contract.svg) no-repeat left 24px top 24px / 48px;

                    span {
                        display: block;
                        margin-left: v.$padding-6;
                        font-size: v.$font-heading-large;
                        font-weight: v.$font-weight-semi-bold;
                    }
                }

                .research {
                    background: v.$color-surface-box2;
                    padding: v.$gap-10 v.$padding-9;
                    margin-bottom: v.$gap-9;

                    &>ul>li {
                        display: flex;
                        align-items: flex-start;
                        font-size: v.$font-body-large;
                        gap: v.$gap-5;

                        &+li {
                            margin-top: v.$padding-10;
                        }

                    }

                    .num {
                        font-size: v.$font-heading-medium;
                        font-weight: v.$font-weight-medium;
                    }

                    .sentence {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;

                        .question {
                            font-size: v.$font-heading-medium;
                            font-weight: v.$font-weight-medium;
                        }
                    }

                    .answer {
                        margin-top: v.$gap-5;

                        .group {
                            display: flex;
                            flex-wrap: wrap;
                            gap: v.$gap-2 v.$gap-7;
                        }

                        .text__box {
                            height: 144px;
                        }

                        &.etc__field {
                            display: none;
                        }
                    }

                    .submit__btn__area {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: v.$gap-10;

                        .btn {
                            min-width: 240px;
                        }
                    }
                }

                .result__btn__area {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: v.$gap-10 0 v.$gap-8;

                    .btn {
                        min-width: 240px;
                    }
                }


            }
        }
    }

}

.pop__contents.survey {
    .detail__top {
        padding: v.$padding-6 v.$padding-8;
        

        .title {
            font-weight: v.$font-weight-semi-bold;
            font-size: v.$font-heading-medium;
        }

        .date__area {
            font-size: v.$font-body-small;
            color: v.$gray-color-60;
            margin-top: v.$padding-5;

            .label {
                color: v.$gray-color-70;
                font-weight: v.$font-weight-semi-bold;
                min-width: 65px;
                display: inline-flex;
                margin-right: v.$padding-3;
            }
        }
    }

    .detail__content {
        .research {
            ul {
                display: flex;
                flex-direction: column;
                gap: v.$gap-9;

                &>li {
                    display: flex;
                    flex-direction: column;
                    gap: v.$gap-5;

                    .question {
                        font-weight: v.$font-weight-medium;
                    }

                    .round__box {
                        padding: v.$padding-6;
                    }

                }
            }
        }
    }
}

.notice {

    //공지사항
    .board__wrap {
        .board__list {

            .td,
            .th {
                &.num {
                    width: 10%;
                }

                &.date {
                    width: 16%;
                }

                &.title {
                    width: 74%;
                }

                .flex__wrap {
                    max-width: 733px;
                    width: fit-content;
                }
            }
        }
    }
}

@include b.size-mobile {
    .survey {

        .board__wrap {
            .board__list {
                .td {

                    &.division,
                    &.date,
                    &.period,
                    &.title {
                        width: auto;
                        padding: 0;
                    }

                    &.division {
                        display: none;
                    }

                    &.title {
                        .ellipsis {
                            margin: 20px 0;
                        }

                        .flex__wrap {
                            .badge__area {

                                .division,
                                .complete {
                                    display: inline-flex;
                                }
                            }

                            .complete {
                                display: none;
                            }

                        }

                    }

                    &.date,
                    &.period {
                        color: v.$gray-color-60;
                        font-size: v.$font-body-small;
                    }

                }
            }
        }

        .board__detail {
            .detail__top {
                .title {
                    font-size: v.$font-heading-medium;
                    padding-bottom: v.$padding-5;
                }

                .date__area {
                    font-size: v.$font-body-small;

                    .label {
                        min-width: 63px;
                    }
                }
            }

            .detail__content {
                .view {
                    padding: v.$padding-8 0;
                }

                .survey__area {
                    .title {
                        padding: v.$padding-8 v.$padding-6;
                        background: none;

                        span {
                            font-size: v.$font-heading-small;
                            margin-left: 0;
                        }

                    }

                    .research {
                        background: #fff;
                        padding: 36px 0;
                        border-top: 1px solid v.$gray-color-30;
                        margin-bottom: 0;

                        .num {
                            font-size: v.$font-heading-small;
                        }

                        .sentence {
                            .question {
                                font-size: v.$font-heading-small;
                            }

                        }

                        .answer {
                            .group {
                                gap: v.$gap-5;
                            }
                        }

                        .submit__btn__area {
                            .btn {
                                min-width: 180px;
                            }
                        }
                    }

                    .result__btn__area {
                        margin: v.$gap-10 0 v.$gap-8;

                        .btn {
                            min-width: 180px;
                        }
                    }





                }
            }
        }
    }

    .pop__contents.survey {
        .detail__top {
            padding: v.$padding-8 v.$padding-6;
        }
    }

    // 페이지별 게시판 가로 사이즈
    .notice {

        //공지사항
        .board__wrap {
            .board__list {
                .td {

                    &.num,
                    &.date,
                    &.title {
                        width: auto;
                        padding: 0;
                    }

                    &.num {

                        align-self: flex-end;
                        color: v.$gray-color-60;
                        font-size: v.$font-body-small;

                    }

                    &.date {
                        color: v.$gray-color-60;
                        font-size: v.$font-body-small;
                    }

                    &.title {
                        padding: 20px 0;

                        .badge__area {
                            display: block;
                            position: absolute;
                            left: 20px;
                            top: 20px;

                        }

                        .file_attach {
                            position: absolute;
                            right: 20px;
                            bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}