@use "../base/variable"as v;
@use "../base/mixin"as m;

.notice_box {
    .round__box {
        display: flex;
        border-width: 2px;
        justify-content: center;
        align-items: center;
        gap: 24px;

        i {
            background: #fff url(../img/common/ico-gnb-2.png) no-repeat center center / 52px;
            display: block;
            @include m.square(80px);
            border-radius: 50%;
            flex-basis: 80px;
        }
    }

    .noti__text {
        font-size: v.$font-heading-medium;
        font-weight: v.$font-weight-medium;

        span {
            display: block;
            b{
                font-weight: v.$font-weight-medium;
            }
            em {
                font-weight: v.$font-weight-bold;
                color: v.$color-dager-dark;
            }

        }
    }
}

.list__wrap {
    margin-top: v.$gap-9;
}