@use "../base/variable"as v;
@use "../base/mixin"as m;
@use "../base/breakpoints"as b;

.notice__box {
    .round__box {
        display: flex;
        border-width: 2px;
        justify-content: center;
        align-items: center;
        gap: 24px;

        i {
            background: #fff url(../img/common/ico-sub-contract.png) no-repeat center center / 52px;
            display: block;
            @include m.square(80px);
            border-radius: 50%;
            flex-basis: 80px;
        }
    }

    .noti__text {
        font-size: v.$font-heading-medium;
        font-weight: v.$font-weight-medium;

        span {
            display: block;

            b {
                font-weight: v.$font-weight-medium;
            }

            em {
                font-weight: v.$font-weight-bold;
                color: v.$color-dager-dark;
            }

        }
    }
}

.contract__list {
    margin-top: v.$gap-9;

    >ul {
        margin-top: v.$gap-10;
        display: flex;
        flex-direction: column;
        gap: v.$gap-7;

    }

    .list__wrap {
        &>.round__box {
            padding: v.$padding-9;
        }

    }

    .title__area {
        display: flex;
        justify-content: space-between;

        .title {
            display: flex;
            align-items: center;
            gap: v.$padding-5;

            h3 {
                font-size: v.$font-heading-medium;
            }
        }

        .badge {
            padding: v.$padding-3 v.$padding-6;
            font-weight: v.$font-weight-medium;
            font-size: v.$font-body-medium;
            border-radius: 40px;

            &.new {
                background: v.$primary-color;
                color: #fff;
            }
        }

        .btn__more__view {
            border-radius: 0;
            border: none;
            background-size: 32px;

        }
    }

    .content__area {
        display: none;

        &.active {
            display: block;
        }

        .round__box {
            border-radius: 0;
            border-top: 1px solid v.$gray-color-20;

            &.bg__gray {
                margin-top: v.$padding-8;
            }

            .info__wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &.complete {
                    flex-direction: column;
                    justify-content: center;
                    gap: v.$gap-5;

                    .date {
                        color: v.$text-color-sub;
                    }
                }

                .btn {
                    &.primary {
                        width: 240px;

                        &:disabled {
                            background-color: v.$gray-color-50;
                            color: #fff;
                        }
                    }

                }
            }

            .info {
                display: block;
                position: relative;
                color: v.$text-color-sub;
                padding-left: 11px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    @include m.square(3px);
                    background: v.$text-color-sub;
                    transform: translateY(-50%);

                }
            }
        }
    }

    .board__wrap {
        margin-top: v.$padding-9;

        .board__top {
            justify-content: flex-start;
            gap: v.$padding-8;

            h4 {
                font-size: 20px;
            }

            .progress__area {
                display: flex;
                align-items: center;
                gap: v.$padding-5;

                .progress__bar {
                    position: relative;
                    display: block;
                    width: 120px;
                    background: v.$gray-color-10;
                    height: 20px;
                    border-radius: 20px;

                    span {
                        display: block;
                        position: absolute;
                        height: 20px;
                        background: v.$color-warning;
                        border-radius: 20px;
                        ;
                    }
                }

                .text {
                    font-size: v.$font-heading-medium;
                    font-weight: v.$font-weight-bold;
                    color: v.$text-color-sub;
                    padding-left: v.$padding-2;

                    small {
                        font-size: v.$font-body-small;
                    }
                }

            }

            .info {
                .text {
                    font-size: v.$font-heading-small;
                    color: v.$color-dager-dark;
                    font-weight: v.$font-weight-medium;
                }
            }
        }

        .board__table {
            .board__tr {

                .td,
                .th {
                    &.num {
                        width: 8%;
                    }

                    &.title {
                        width: 48%;

                        .flex__wrap {
                            max-width: 422px;
                        }

                        a {
                            text-decoration: underline;
                        }
                    }

                    &.status,
                    &.check {
                        width: 11%;
                    }

                    &.date {
                        width: 22%;
                    }

                    .finished {
                        color: v.$primary-color;
                    }

                    &.id {
                        width: 18%;
                    }

                    &.contract {
                        width: 60%;
                    }
                }

                &.disabled {
                    .td {
                        &.title {
                            a {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }

}

@include b.size-mobile {
    .notice__box {
        .noti__text {
            font-size: v.$font-body-small;

            span {
                &:first-child {
                    font-size: v.$font-body-medium;
                }

                b {
                    display: block;
                }

            }

        }

        .round__box {
            padding: v.$padding-5 v.$padding-6;
            gap: v.$gap-5;

            i {
                @include m.square(72px);
                flex-basis: 72px;
            }
        }
    }

    .contract__list {
        margin-top: v.$padding-9;

        &>ul {
            margin-top: v.$padding-6;
        }

        .list__wrap {
            &>.round__box {
                padding: v.$padding-7;
            }
        }

        .title__area {

            .title {
                flex-direction: column;
                align-items: flex-start;
                gap: v.$gap-3;

                .text {
                    font-size: v.$font-heading-small;
                }

                .badge {
                    width: fit-content;
                    font-size: v.$font-body-small;
                    padding: v.$padding-2 v.$padding-3;
                }

            }
        }

        .content__area {
            .round__box {
                &.bg__gray {
                    margin-top: v.$gap-5;
                    padding: v.$padding-6;
                    border-radius: 12px;
                    border-top: 0;

                    .info__wrap {
                        flex-direction: column;
                        gap: v.$gap-4;

                        .info {
                            font-size: v.$font-body-small;
                            padding-left: 0;

                            &::before {
                                display: none;
                            }
                        }
                        &.complete{
                            .date{font-size: v.$font-body-small;}
                        }

                        .btn {
                            &.primary {
                                width: 100%;
                                font-size: v.$font-body-medium;
                            }
                        }
                    }
                }
            }
        }

        .board__wrap {
            .board__top {
                justify-content: space-between;
                border-bottom: 2px solid v.$gray-color-60;
                h4{
                    font-size: v.$font-body-small;
                }
                .progress__area {
                    gap: v.$gap-3;
                    .label{
                        font-size: v.$font-body-xsmall;
                    }
                    .progress__bar {
                        display: none;
                    }
                    .text{
                        small{
                            font-size: v.$font-body-xsmall;
                        }
                        
                    }
                }
            }
            .board__table{
                position: relative;
                overflow: hidden;
                &::before {
                    content: '';
                    width: 2px;
                    height: 100%;
                    position: absolute;
                    left: 25px;
                    top: 0;
                    background: #d9d9d9;
                }
                .board__tr:not(.no__list){
                    border: none;
                    padding: 0;
                    position: relative;
                    padding-left: 68px;
                    &:last-child{
                        background: #fff;
                    }
                    .td{
                        &.num{
                            width:auto;
                            position: absolute;
                            top:0;
                            left:0;
                            padding: v.$padding-2 v.$padding-4;
                            background: v.$gray-color-60;
                            border-radius: 52px;
                            color: #fff;
                            font-size: v.$font-body-xsmall;
                            .mo__label{
                                color: #fff;
                                margin-right: v.$padding-2;
                            }
                        }
                        &.title {
                            width: 100%;
                            margin-bottom: v.$padding-5;
                        }
                        &.status
                        {
                            width:100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            &>.mo__label{
                                font-size: v.$font-body-xsmall;
                            }
                            em {
                                color: v.$text-color-sub;
                                font-weight: v.$font-weight-regular;

                                .mo__label {
                                    display: inline-flex;

                                    font-weight: v.$font-weight-regular;
                                }
                            }
                            
                        }
                        &.check{
                            display: none;
                        }
                        &.date {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        .flex__wrap{
                            .ellipsis{
                                font-size: v.$font-body-medium;
                            }
                        }
                    }
                    &.disabled{
                        .td{
                            background: #fff;
                            color: v.$text-color-base;
                            font-weight: v.$font-weight-semi-bold;
                            &.num{
                                border: 1px solid v.$gray-color-60;
                                color: v.$text-color-sub;
                                .mo__label{
                                    color: v.$text-color-sub;
                                }
                                
                            }
                            
                        }
                    }
                }
                .no__list{
                  background-color: #fff;
                }
            }
        }
    }
}