.responsive-pc {
    display: block;
}

.responsive-mo {
    display: none;
}

// floating button
.button-floating {
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: calc((100vw - 1280px) / 2 + 20px);
    width: 40px;
    height: 40px;
    background: url(@/resources/img/common/btn_floating.png) no-repeat 0 0 / 100%;
    text-indent: -9999px;
}

//checkbox
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 20px;

    &__item {
        input {
            &+label {
                display: inline-flex;
                padding-left: 28px;
                line-height: 24px;
                background: url(@/resources/img/common/icon_check.png) no-repeat 0 1px / 24px;
                cursor: pointer;
            }

            &:checked+label {
                background: url(@/resources/img/common/icon_check_on.png) no-repeat 0 1px / 24px;
            }
        }
    }
}

//radio
.radio-group {
    display: flex;
    flex-wrap: wrap;

    &__item {
        input {
            &+label {
                display: inline-flex;
                padding-left: 28px;
                line-height: 24px;
                background: url(@/resources/img/common/icon_radio.png) no-repeat 0 1px / 24px;
                cursor: pointer;
            }

            &:checked+label {
                background: url(@/resources/img/common/icon_radio_on.png) no-repeat 0 1px / 24px;
            }

            &:disabled+label {
                background: url(@/resources/img/common/icon_radio_disabled.png) no-repeat 0 1px / 24px;
                cursor: auto;
            }
        }
    }
}

.main-visual {
    .slick-dots {
        bottom: 42px;

        li {
            margin: 0 4px;
            width: 14px;
            height: 14px;
            border-radius: 14px;

            &:before {
                display: none;
            }

            button {
                background: transparent;
                padding: 0;
                width: 14px;
                height: 14px;
                border-radius: 14px;
                border: 1px solid #132442;

                &:before {
                    display: none;
                }
            }

            &.slick-active {
                background: #132442;
            }
        }
    }

    .slick-arrow {
        display: none !important;
    }
}

.tutor-main__contents {
    .inner {
        max-width: 1180px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
}

//서브페이지 타이틀
.title-wrap {
    position: relative;
    padding: 32px 0 24px;
    text-align: center;

    .sub-title {
        font-family: 'BMDoHyeon';
        font-size: 48px;
        line-height: 60px;
    }

    .description {
        font-size: 16px;
        line-height: 20px;
        margin-top: 8px;

        &:first-of-type {
            margin-top: 16px;
        }

        &__em {
            color: #1d64cc;
            font-weight: 700;
        }
    }

    &+.tutor-body {
        .tutor-lnb-wrap {
            margin-top: 0;
            border-radius: 8px;
            border-top: 1px solid #eaeaea;
        }
    }

    .btn-prev {
        display: none;
    }
}

//서브페이지 상단 비주얼
.sub-visual {
    border-top: 1px solid #eaeaea;

    &__inner {
        position: relative;
        max-width: 1020px;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        height: 255px;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
        }
    }

    &__paragraph {
        font-size: 22px;
        font-weight: 700;
        line-height: 29px;
    }

    &__span {
        color: #1d64cc;
    }
}

//리스트 스타일
.bullet-list {
    &__item {
        color: #333;
        position: relative;
        padding-left: 10px;
        font-size: 14px;
        margin-top: 6px;
        line-height: 20px;

        &:first-child {
            margin-top: 0;
        }

        &:after {
            content: "";
            position: absolute;
            top: 9px;
            left: 0;
            width: 4px;
            height: 1px;
            background-color: #333;
        }
    }
}

//breadcrumb
.breadcrumb {
    display: flex;
    justify-content: flex-end;
    padding: 16px 36px 16px 0;
    gap: 5px;
    line-height: 1;

    &__item {
        color: #000;
    }
}

// custom select
.select-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 14px;
}

//멘토·멘티매칭
.matching {
    padding-bottom: 100px;

    &__inner {
        max-width: 1140px;
        padding: 50px 36px 0;
        margin: 0 auto;
    }

    &__status {
        margin-bottom: 24px;
        font-size: 22px;
        font-weight: 700;
        line-height: 1;

        &--center {
            text-align: center;
        }
    }

    &__before {
        text-align: center;
        padding-top: 72px;

        img {
            width: 130px;
            margin-bottom: 32px;
        }

        p {
            margin-bottom: 30px;
            font-size: 36px;
            font-family: 'BMDoHyeon';
            line-height: 1;

            span {
                color: #1d64cc
            }
        }

        >span {
            margin-bottom: 46px;
            font-size: 24px;
        }
    }

    &__select {
        >img {
            display: block;
            width: 300px;
            margin: 0 auto 32px;
        }
    }

    .button {
        &.matching-button {
            font-family: 'Noto Sans KR';
            font-weight: 700;
            margin: 0 auto;
            padding-top: 0;

            &--xlarge {
                min-width: 250px;
                margin-top: 46px;
            }

            &--large {
                margin-top: 32px;
                min-width: 334px;
                height: 48px;
                font-size: 22px;
            }
        }
    }

    &__name {
        margin-bottom: 32px;
        line-height: 1;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
    }

    &__position {
        color: #1d64cc
    }

    &__description {
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        color: #000;

        .button-text {
            color: #1d64cc;
            font-weight: 700;
        }
    }

    &-list {
        &__item {
            padding: 32px 24px;
            border: 1px solid #eaeaea;
            border-left: 4px solid #74d083;
            border-radius: 8px;

            &-wrap {
                margin-top: 24px;

                &--type02 {
                    .matching-list {
                        &__class {
                            background-color: #fcb796
                        }

                        &__thumbnail {
                            background-color: #fcb796
                        }

                        &__item {
                            border-left-color: #fcb796
                        }
                    }
                }

                &--type03 {
                    .matching-list {
                        &__class {
                            background-color: #c49ad7;
                        }

                        &__thumbnail {
                            background-color: #c49ad7;
                        }

                        &__item {
                            border-left-color: #c49ad7;
                        }
                    }
                }
            }

            &--no-data {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0;
                border: 0;
                background: #f8f8f8;
                padding: 110px 0;
                font-size: 16px;
                font-weight: 700;
            }
        }

        &__lecture {
            position: relative;
            display: flex;
            width: 100%;
        }

        &__apply {
            margin-top: 24px;
            padding-top: 24px;
            border-top: 1px solid #eaeaea;

            &-date {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;

                p {
                    font-size: 16px;
                    font-weight: 700;
                }

                span {
                    font-size: 16px;
                }
            }

            &-item {
                display: flex;
                align-items: center;
                gap: 8px;
                height: 82px;
                padding-left: 144px;
                border: 1px solid #eaeaea;
                border-radius: 8px;

                img {
                    width: 85px;
                }

                &+& {
                    margin-top: 16px;
                }
            }

            &-nodata {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #f8f8f8;
                font-size: 16px;
                height: 82px;
                border-radius: 8px;
            }
        }

        &__class {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 134px;
            height: 46px;
            margin-left: 30px;
            padding-top: 2px;
            border-radius: 8px 8px 0 0;
            background-color: #74d083;
            color: #fff;
            font-size: 20px;
            font-weight: 400;
        }

        &__number {
            position: absolute;
            top: 0;
            right: 0;
            line-height: 1;
            text-align: center;

            &-badge {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 16px;
                width: 140px;
                height: 26px;
                border: 1px solid #ccc;
                border-radius: 16px;
                font-family: 'NanumBarunGothic';

                span {
                    color: #1d64cc;
                }
            }

            p {
                font-size: 22px;
                font-weight: 700;
                color: #bbb;

                span {
                    color: #1d64cc;
                }
            }
        }

        &__thumbnail {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-width: 110px;
            height: 110px;
            background-color: #74d083;
            color: #fff;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 700;
            line-height: 1;

            img {
                width: 75px;
            }
        }

        &__detail {
            width: 654px;
            margin-left: 34px;
        }

        &__detail-subject {
            margin-bottom: 20px;
            font-size: 22px;
            font-weight: bold;
            line-height: 1;
        }

        &__detail-schedule {
            display: flex;
            flex-direction: column;
            gap: 16px;

            dl {
                display: flex;
                align-items: center;
                line-height: 1;
                font-size: 16px;
                gap: 16px;

                img {
                    width: 24px;
                    margin-right: 8px;
                }

                dt {
                    min-width: 96px;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    word-break: keep-all;
                }

                dd {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .radio-group {
                        line-height: 24px;
                        gap: 8px;
                    }

                    .button-medium__outline,
                    .button-medium__normal {
                        padding-top: 0;
                        width: 180px;
                        height: 40px;
                        font-size: 16px;
                        font-weight: 700;

                        &--more {
                            &:before {
                                content: "+";
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }

            &--column {
                .matching-list {
                    &__dl {
                        &--top {
                            align-items: flex-start;
                        }
                    }
                }
            }
        }

        &__detail-hashtag {
            margin-top: 16px;

            div {
                display: flex;
                color: #1d64cc;
                gap: 8px;
                line-height: 1;
                flex-wrap: wrap;
            }
        }

        &__text {
            display: block;
            margin-top: 2px;
            line-height: 20px;

            &--ellipsis {
                width: 542px;
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                word-break: break-all;
            }
        }

        &__button {
            min-width: 80px;
            width: 150px;
            flex-direction: column;
            justify-content: flex-end;
            margin-left: auto;

            .button {
                width: 100%;
            }
        }

        &__nodata {
            padding: 16px 0;
            background-color: #f8f8f8;
            border-radius: 8px;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
        }

        .button-more {
            margin-top: 24px;
        }
    }
}

.gray-line-box {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 24px;

    .order-list {
        background: url(@/resources/img/common/icon_mark.png) no-repeat 0 50% / 24px;
        padding-left: 48px;

        &__item {
            color: #aaa;
            line-height: 19px;
            font-size: 14px;
        }
    }

    .dash-list {
        padding-left: 17px;

        &__item {
            position: relative;
            padding-left: 10px;

            &:before {
                content: "-";
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

.gray-box {
    background: #f8f8f8;
    padding: 16px;
    border-radius: 8px;
    margin-top: 24px;
}

.checkbox-board {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .checkbox-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 6px 0;
        gap: 48px;
    }

    .checkbox-title {
        font-size: 16px;
        line-height: 28px;
        font-weight: 700;
        color: #222;
        width: 134px;
        padding-left: 24px;
    }

    .checkbox-group {
        row-gap: 15px;
        column-gap: 20px;

        label {
            font-size: 16px;
        }
    }
}

.matching-form {
    .button-group {
        gap: 24px;
        margin-top: 24px;

        .button {
            width: 155px;
        }
    }
}

.icon-mentor {
    position: relative;
    margin-left: 12px;
    padding-left: 32px;

    &:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100%;
        width: 24px;
        height: 24px;
    }

    &--teacher {
        color: #1d64cc;

        &:before {
            background-image: url(@/resources/img/common/icon_teacher.png);
        }
    }

    &--student {
        color: #fda47a;

        &:before {
            background-image: url(@/resources/img/common/icon_student.png);
        }
    }
}

.button-group__loading {
    position: relative;

    .loading-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


//튜터링 서비스 
.tutor-body {
    display: flex;
    padding: 24px 0 100px;

    .button-group {
        justify-content: flex-end;
        margin: 24px 24px 0 0;
        gap: 24px;

        .button {
            width: 160px;
        }
    }
}

.tutor-lnb-wrap {
    position: relative;
    border: 1px solid #eaeaea;
    border-top: 0;
    margin-top: -70px;
    padding-left: 0;
    padding-right: 0;

    &--collapse {
        border: 1px solid transparent;
        border-top: 0;
    }
}

.tutor-lnb {
    $tutorLnb: &;
    width: 300px;
    min-height: 400px;
    padding: 24px 16px;
    transform: translateX(0);
    overflow: hidden;
    transition: .3s ease-in-out;

    &--collapse {
        width: 0;
        opacity: 0;
    }

    &__list {
        width: 268px;
        margin-top: 24px;
        border-top: 1px solid #1d64cc;
    }

    &__item {
        span {
            display: block;
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            padding: 12px 0 12px 24px;
        }
    }

    &__depth2 {
        #{$tutorLnb}__item {
            border-top: 1px solid #eaeaea;
            padding-left: 24px;
        }
    }

    &__anchor {
        position: relative;
        display: block;
        padding: 12px 0 11px 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;

        &--active {
            font-weight: 700;
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background-color: #222;
        }
    }

    &__button {
        position: absolute;
        top: 40px;
        left: 100%;
        width: 32px;
        height: 40px;
        background: #1d64cc url(@/resources/img/common/btn_lnb.png) no-repeat 50% 50%;
        border-radius: 0 8px 8px 0;

        &--collapse {
            border-radius: 8px 0 0 8px;
            transform: rotate(180deg);
        }
    }
}

.tutor-man-info {
    width: 268px;
    text-align: center;
    padding: 24px 0;

    .tutor-name {
        font-size: 20px;
        line-height: 25px;
        font-weight: 700;
        margin-top: 24px;
    }

    .tutor-position {
        color: #1d64cc;
    }
}

.tutor-contents {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
    margin-left: 56px;
    padding-bottom: 24px;

    .tutor-man-info {
        display: none;
    }

    .title-wrap {
        padding-top: 0;
        text-align: left;
    }

    .tutor-info {
        &--between {
            display: flex;
            justify-content: space-between;
        }

        &__summary {
            text-align: left;
        }
    }
}

.tutor-info {
    background-color: #f6f9fc;
    padding: 17px 24px;
    border-radius: 8px;

    &__summary {
        line-height: 23px;
        font-size: 16px;

        &--em {
            font-family: 'NanumBarunGothic';
            text-align: center;
            color: #1d64cc;
            font-weight: 700;
        }

    }

    &+.tutor-board {
        margin-top: 24px;
    }
}

.tutor-board {
    border-top: 1px solid #132442;
    border-bottom: 1px solid #132442;

    &__table {
        display: table;
        width: 100%;

        tr {
            border-bottom: 1px solid #eaeaea;

            &:last-child {
                border-bottom: 0;
            }
        }

        th {
            width: 200px;
            padding: 22px 24px 21px;
            font-weight: 700;
            font-size: 16px;
            color: #222;
            line-height: 28px;
            text-align: left;
            background-color: #f6f9fc;

            .requisite {
                &:after {
                    content: "*";
                    margin-left: 4px;
                    color: #1d64cc;
                }
            }

            &.text-blue {
                color: #1d64cc;
            }

            &.text-red {
                color: #cc1c05;
            }

            &.text-left {
                text-align: left;
            }

            &.text-right {
                text-align: right;
            }

            &.text-bold {
                font-weight: 700 !important;
            }
        }

        td {
            padding: 22px 24px 21px;
            font-size: 16px;
            color: #222;
            line-height: 28px;
            background-color: #fff;

            .readonly {
                color: #bbb;
            }

            &.text-blue {
                color: #1d64cc;
            }

            &.text-left {
                text-align: left;
            }

            &.text-red {
                color: #cc1c05;
            }

            &.text-right {
                text-align: right;
            }

            &.text-bold {
                font-weight: 700;
            }
        }

        &--col {
            border-collapse: separate;

            tr {
                border: 0;

                &:last-child {
                    td {
                        border-bottom: 0;
                    }
                }
            }

            th {
                width: auto;
                padding: 10px 0 9px;
                text-align: center;
                vertical-align: middle;
                line-height: 24px;
                border-bottom: 1px solid #eaeaea;
                border-right: 1px solid #eaeaea;
                word-break: keep-all;

                &:last-child {
                    border-right: 0;
                }
            }

            td {
                padding: 10px 8px 9px;
                line-height: 24px;
                text-align: center;
                vertical-align: middle;
                border-bottom: 1px solid #eaeaea;
                border-right: 1px solid #eaeaea;
                word-break: keep-all;

                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
}

@media (max-width: 1280px) {

    // floating button
    .button-floating {
        right: 20px;
    }
}

@media (max-width: 1024px) {
    .responsive-pc {
        display: none;
    }

    .responsive-mo {
        display: block;
    }

    .tutor-main__contents {
        .inner {
            max-width: 100%;
            padding: 0;
        }
    }

    //서브페이지 타이틀
    .title-wrap {
        padding: 16px;

        .sub-title {
            font-size: 28px;
            line-height: 35px;
        }

        .description {
            font-size: 14px;
        }

        .btn-prev {
            text-indent: -9999px;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 32px;
            height: 32px;
            background: url(@/resources/img/common/icon_prev.png) no-repeat 0 0 / 100%;
        }
    }

    //서브페이지 상단 비주얼
    .sub-visual {
        border-top: 0;

        &__inner {
            width: 100%;
            height: auto;
        }

        &__paragraph {
            font-size: 16px;
            line-height: 28px;
        }
    }

    //리스트 스타일
    .bullet-list {
        &__item {
            font-size: 11px;
        }
    }

    //멘토·멘티매칭
    .matching {
        padding-bottom: 60px;

        &__inner {
            padding: 32px 16px 0;
            margin: 0 auto;
        }

        &__status {
            font-size: 16px;
        }

        &__before {
            padding-top: 42px;

            p {
                font-size: 28px;
            }

            img {
                width: 90px;
                margin-bottom: 32px;
            }

            >span {
                font-size: 16px;
            }
        }

        .button {
            &.matching-button {
                &--xlarge {
                    min-width: 100%;
                    margin-top: 32px;
                }

                &--large {
                    min-width: 100%;
                    height: 44px;
                    font-size: 16px;
                }
            }
        }

        &__select {
            >img {
                width: 178px;
            }
        }

        &__name {
            font-size: 16px;
            line-height: 20px;
        }

        &__description {
            font-size: 14px;
            line-height: 18px;

            &+& {
                margin-top: 24px;
            }
        }

        &-list {
            &__item {
                padding: 16px;

                &--no-data {
                    padding: 110px 0;
                }
            }

            &__lecture {
                flex-wrap: wrap;
                gap: 24px;
                padding-right: 0;

                &--top {
                    .matching-list__detail-subject {
                        margin-bottom: 24px;
                    }
                }
            }

            &__apply {
                &-item {
                    position: relative;
                    height: 66px;
                    padding-left: 108px;

                    img {
                        position: absolute;
                        top: 50%;
                        left: 16px;
                        transform: translateY(-50%);
                    }
                }

                &-date {
                    display: block;

                    p,
                    span {
                        font-size: 14px;
                    }
                }

                &-nodata {
                    height: 66px;
                    font-size: 14px;
                }
            }

            &__class {
                width: 90px;
                height: 26px;
                font-size: 14px;
            }

            &__number {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: static;
                flex-grow: 1;

                &-badge {
                    margin-bottom: 0;
                }

                p {
                    font-size: 16px;
                }
            }

            &__thumbnail {
                display: none;
            }

            &__detail {
                width: 100%;
                margin-left: 0;

                &-subject {
                    font-size: 20px;
                    margin-bottom: 16px;
                }

                &-schedule {
                    flex-wrap: wrap;

                    dl {
                        width: 100%;

                        dd {
                            .radio-group {
                                line-height: 24px;
                                gap: 8px;
                            }

                            .button-medium__outline,
                            .button-medium__normal {
                                width: 163px;

                                &--more {
                                    &:before {
                                        content: "+";
                                        margin-right: 4px;
                                    }
                                }
                            }
                        }
                    }
                }

                &-hashtag {
                    margin-top: 12px;
                }
            }

            &__text {
                &--ellipsis {
                    width: 100%;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    white-space: normal;
                }

            }

            &__button {
                width: 100%;
                position: static;

                .button {
                    min-width: 100%;
                }
            }

            &__nodata {
                padding: 13px 0;
                font-size: 14px;
            }
        }
    }

    .gray-line-box {
        padding: 24px 16px;

        .order-list {
            background: url(@/resources/img/common/icon_mark.png) no-repeat 0 0 / 24px;
            padding-left: 40px;
        }

        .dash-list {
            padding-left: 0;
        }
    }

    .gray-box {
        padding: 24px 16px;
    }

    .checkbox-board {
        gap: 24px;

        .checkbox-row {
            align-items: flex-start;
            flex-direction: column;
            gap: 16px;
            padding: 0;

        }

        .checkbox-title {
            width: 100%;
            padding-left: 0;
        }
    }

    .matching-form {
        padding-bottom: 35px;

        .button-group {
            .button {
                width: 50%;
            }
        }
    }

    //튜터링 서비스
    .tutor-body {
        padding: 16px 16px 50px;
        max-width: 100%;

        .button-group {
            justify-content: center;
            margin-right: 0;

            .button {
                width: 50%;
                max-width: 152px;
            }
        }
    }

    .breadcrumb,
    .tutor-lnb-wrap {
        display: none;
    }

    .tutor-contents {
        width: 100%;
        margin-left: 0;
        padding-bottom: 0;

        .tutor-man-info {
            display: block;
            width: 100%;
            padding-top: 0;

            .tutor-name {
                font-size: 16px;
                line-height: 1;
            }
        }

        .title-wrap {
            text-align: center;
        }

        .tutor-info {
            margin-top: 8px;
            padding: 16px;
        }

        .tutor-info__summary {
            margin-top: 0;
            text-align: center;

            &--em {
                font-size: 12px;
            }
        }
    }

    .tutor-info {
        padding: 24px 0;

        &__summary {
            line-height: 21px;
            font-size: 14px;
            margin-top: 8px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .tutor-board {
        &__table {
            tr {
                display: flex;
                flex-wrap: wrap;
            }

            th {
                width: 100%;
                display: flex;
                flex: 0 1 100%;
                align-items: center;
                padding: 14px 24px 13px;
                font-size: 14px;
                line-height: 18px;
            }

            td {
                width: 100%;
                display: flex;
                flex: 0 1 100%;
                align-items: flex-start;
                padding: 12px 24px 11px;
                font-size: 14px;
                line-height: 22px;
                flex-direction: column;
            }

            &--col {
                tr {
                    display: table-row;
                }

                th {
                    display: table-cell;
                    width: auto;
                    flex: auto;
                    padding: 10px 0 9px;
                    font-size: 12px;
                    line-height: 18px;
                }

                td {
                    display: table-cell;
                    vertical-align: middle;
                    width: auto;
                    flex: auto;
                    padding: 10px 4px 9px 8px;
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }
}