@use "../base/variable"as v;
@use "../base/mixin"as m;
@use "../base/breakpoints"as b;

.delivery {

    //소모품 배송현황
    .board__wrap {
        .board__list {

            .td,
            .th {

                &.quantity {
                    span {
                        display: inline-block;
                        width: 100%;
                        text-align: right;
                    }
                }

                &.status {
                    position: relative;

                    .btn__more__view {
                        position: absolute;
                        @include m.position-center($type: 'y');
                        right: v.$gap-4;
                        overflow: hidden;

                        span {
                            display: inline-block;
                            width: 0;
                            height: 0;
                        }

                    }

                }
            }
        }

        .board__tr {
            grid-template-columns: 16% 32% 32% 20%;
        }
    }
}

.status__list {
    display: none;
    background: v.$color-surface-box2;
    padding: v.$padding-9;
    color: v.$text-color-sub;
    border-bottom: 1px solid v.$gray-color-30;

    .invoice__number {
        padding-bottom: v.$padding-4;
        border-bottom: 1px solid v.$gray-color-20;

        .number {
            color: v.$text-color-base;
            font-weight: v.$font-weight-medium;
            margin-left: v.$padding-5;
        }

        .mo__label {
            display: none;
        }
    }

    .invoice__status {
        display: flex;
        flex-direction: column;
        row-gap: v.$gap-4;
        margin-top: v.$padding-8;

        li {
            display: flex;
            column-gap: v.$gap-7;

            .time {
                flex-basis: 160px;
            }

            .place {
                flex-basis: 200px;
            }

            .status {
                flex-grow: 1;

                &.ing {
                    color: v.$primary-color;
                    font-weight: v.$font-weight-semi-bold;
                }
            }

            &:first-child {
                font-weight: v.$font-weight-semi-bold;

                .time {
                    font-weight: v.$font-weight-semi-bold;
                }

                .status {
                    color: v.$primary-color;
                }
            }
        }
    }

}

.store__info {
    .store__wrap {
        .round__box {
            padding: 0;
            overflow: hidden;
        }

        &>ul {
            display: grid;
            gap: v.$padding-8;
            grid-template-columns: 1fr 1fr;

            .title {
                padding: v.$padding-7;
                background: v.$color-surface-box2;

                h3 {
                    font-size: v.$font-heading-medium;
                    text-align: center;
                    font-weight: v.$font-weight-semi-bold;
                    color: v.$text-color-sub;
                }
            }

            .con {
                padding: v.$padding-8 v.$padding-7 v.$padding-7;

                &>ul {
                    display: flex;
                    flex-direction: column;
                    gap: v.$gap-6;
                }

                li {
                    display: flex;
                    gap: v.$padding-5;

                    .label {
                        width: 112px;
                        flex-shrink: 0;
                        font-weight: v.$font-weight-semi-bold;

                    }

                    em {
                        flex-grow: 1;
                    }
                }
            }
        }
    }
}
.equipment{
    .board__wrap {
        .board__list {

            .td,
            .th {
                &.date {
                    width: 20%;
                }
                &.num {
                    width: 30%;
                }
                &.product {
                    width: 50%;
                }
            }
        }
    }
}
.disability{
    .search__area {
        .input__area>ul>li .items .search__box .input__box {
            max-width: 408px;
        }
    }
    .board__wrap {
        .board__list {

            .td,
            .th {
                &.date {
                    width: 18%;
                }
                &.num {
                    width: 26%;
                    button{
                        text-decoration: underline;
                    }
                }
                &.end__date {
                    width: 20%;
                }
                &.name {
                    width: 26%;
                }
                &.result {
                    width: 10%;
                }

            }
        }
    }
}
.penalty{
    .penalty__box{
        background: v.$gray-color-10;
        padding: v.$padding-9;
        border-radius: 12px;
        margin-bottom: v.$padding-7;
        .round__box{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: v.$gap-8;
            .tit {
                color: v.$text-color-sub;
                font-weight: v.$font-weight-semi-bold;
            }
            .cumulative{
                border-right: 1px solid v.$gray-color-10;
                
                .num{
                    margin-top: v.$padding-6;
                    line-height: 1;
                    b{
                        font-size: 64px;
                    }
                    small{
                        font-size: 20px;
                    }
                }
            }
            .grade{
                &>ul{
                    padding-right: v.$padding-9;
                    border-right: 1px solid v.$gray-color-10;
                }
                &>ul>li{
                    display: flex;
                    justify-content: space-between;
                    gap: v.$gap-8;
                    border-bottom: 1px solid v.$gray-color-10;
                    padding: 6px 0;
                    .type{
                        font-weight: v.$font-weight-semi-bold;
                        &.red{
                            color: v.$color-dager;
                        }
                        &.yellow {
                            color: v.$color-warning;
                        }
                        &.blue {
                            color: v.$color-information;
                        }

                    }
                    .num{
                        b{
                            font-weight: v.$font-weight-semi-bold;
                        }
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
            .period{
                display: flex;
                flex-direction: column;
                gap: v.$gap-3;
                .num{
                    font-size: 20px;
                    font-weight: v.$font-weight-medium;
                    line-height: 1.2;
                    b{
                        font-size: v.$font-heading-xlarge;
                    }
                }
                .date {
                    color: v.$text-color-date;
                }
            }

        }
    }
    .board__list{
        .board__top{
            .search__period {
               display: none;  
            }
        }
        .board__table{
            width: 1350px;
            &.no__list{
              width: 100%;
            }
            .td,
            .th {
                &.status {
                    width: 8%;
                }
                &.offense {
                    width: 23%;
                    text-align: left;
                }
                &.grade {
                    width: 7%;
                }
                &.division {
                    width: 9%;
                }
                &.penalty {
                    width: 11%;
                }
                &.period {
                    width: 11%;
                }
                &.detail {
                    width: 22%;
                }
                &.manager {
                    width: 9%;
                }
            }
            .td{
              &.detail {
                    text-align:left;
                }
            }
        }
    }
}
.modal__popup .modal__inner .pop__contents {
    &.disability{
        
        .detail__top {
            .date__area {
                margin-top: 0;
            }
        }
        .tit {
            padding-bottom: v.$padding-7;
            border-bottom: 1px solid v.$gray-color-30;
            margin-bottom: v.$padding-7;
        }
        .list{
            display: flex;
            flex-direction: column;
            gap: v.$padding-8;
        }
    }
} 
.deposit{
    .deposit__box {
        margin-bottom: v.$padding-7;
        .round__box{
            background-color: v.$color-surface-box;
            padding: v.$padding-9;
            .tit{
                font-weight: v.$font-weight-bold;
                margin-bottom: v.$padding-6;
            }
            .list{
                display: flex;
                justify-content: space-between;
                li{
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    gap: v.$gap-3;
                    .badge{
                        border: 1px solid v.$gray-color-20;
                        span{
                            padding-left: 0;
                            font-size: v.$font-body-medium;
                            font-weight: v.$font-weight-regular;
                        }
                    }
                    .num{
                        font-size: v.$font-heading-medium;
                        font-weight: v.$font-weight-semi-bold;
                    }
                    .name{
                        font-size: v.$font-heading-medium;
                        font-weight: v.$font-weight-semi-bold;
                        color: v.$text-color-date;
                    }
                    
                }
            }
        }
    }
    .search__area .input__area>ul>li .items .search__box .input__box{
        width: 200px;
    }
    .board__wrap{
        .board__table{
            .board__tr{
                .th,
                .td{
                    &.division{
                        width: 15%
                    }
                    &.date {
                        width: 25%
                    }
                    &.name {
                        width: 20%;
                    }
                    &.bank {
                        width: 20%;
                    }
                    &.amount {
                        width: 20%;
                    }

                }
                .td {
                    &.amount {
                        text-align: right;
                    }
                }
            }
        }
    }   
    
}

@include b.size-mobile {
    .delivery {

        //소모품 배송현황
        .board__wrap {
            .board__list {

                .td,
                .th {
                    &.date {
                        width: 100%;
                    }

                    &.division {
                        width: 100%;
                    }

                    &.quantity {
                        width: 100%;

                        span {
                            display: inline-block;
                            width: auto;
                            text-align: inherit;
                        }
                    }

                    &.status {
                        width: 100%;

                        .info {
                            display: flex;
                            align-items: center;
                            gap: v.$gap-3;
                        }

                        .btn__more__view {
                            position: relative;
                            top: auto;
                            right: auto;
                            transform: translate(0);
                        }
                    }
                }
            }

            .board__top {
                .total {
                    flex-direction: column;
                    gap: v.$gap-1;

                    .base__date {
                        font-size: v.$font-body-small;
                    }
                }
            }

            .board__tr {
                &.active {
                    border-radius: 12px 12px 0 0;
                    border-bottom: 0;
                }
            }
        }
    }

    .status__list {
        padding: v.$padding-7;
        font-size: v.$font-body-small;
        margin-top: -16px;
        z-index: 2;
        border-left: 1px solid v.$gray-color-30;
        border-right: 1px solid v.$gray-color-30;
        border-radius: 0 0 12px 12px;

        .invoice__number {
            padding-bottom: v.$padding-6;

            .number {
                margin-left: v.$padding-3;

                em {
                    display: none;
                }
            }

            .mo__label {
                display: block;
                margin-top: v.$padding-3;

                strong {
                    display: inline-block;
                    margin-left: v.$padding-3;
                    font-weight: v.$font-weight-medium;
                    color: v.$text-color-base;
                }
            }
        }

        .invoice__status {
            margin-top: v.$padding-6;

            li {
                display: list-item;

                .time {
                    display: block;
                    width: 100%;
                    font-weight: v.$font-weight-regular;
                    color: v.$gray-color-60;
                }

                .place,
                .status {
                    display: inline-block;
                }

                .status {
                    position: relative;
                    padding-left: 16px;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 1px;
                        height: 12px;
                        left: 6px;
                        top: 50%;
                        transform: translateY(-50%);
                        background: v.$gray-color-20;
                    }
                }

            }
        }
    }
    .store__info {
        .store__wrap {
            &>ul {
                display: grid;
                gap: v.$padding-8;
                grid-template-columns: 1fr;

                .title {
                    padding: v.$padding-5;

                    h3 {
                        font-size: v.$font-heading-small;
                    }
                }

                .con {
                    &>ul {
                        gap: v.$gap-4;
                    }
                }
            }

            li {
                font-size: v.$font-body-small;

                .label {
                    width: 100px;
                }

                em {
                    text-align: right;
                }

            }
        }
    }
    .equipment {
        .board__wrap {
            .board__list {
                .board__tr{
                    gap: v.$gap-4;
                }
                .td,
                .th {

                    &.date {
                        width: 100%;
                    }

                    &.num {
                        width: 100%;
                    }

                    &.product {
                        width: 100%;
                    }
                }
                .mo__label{
                    width:fit-content;

                }
                .td{
                    justify-content: space-between;
                    span:not(.mo__label){
                        text-align:right;
                    }
                }
            }
        }
    }
    .disability {
        .search__area {
            .input__area>ul>li .items .search__box .input__box {
                max-width: 100%;
            }
        }
        
        .board__wrap {
            .board__list {
                .board__tr {
                    gap: v.$gap-4;
                }
                .td,
                .th {
                    &.date {
                        width: 100%;
                    }

                    &.num {
                        width: 100%;
                    }

                    &.end__date {
                        width: 100%;
                    }

                    &.name {
                        width: 100%;
                    }

                    &.result {
                        width: 100%;
                    }

                }
                .mo__label {
                    width: fit-content;

                }

                .td {
                    justify-content: space-between;

                    span:not(.mo__label) {
                        text-align: right;
                    }
                }
            }
        }
    }
    .penalty{
        .penalty__box{
            padding:0;
            background: v.$color-surface-box2;
            margin-bottom: v.$padding-9;
            .round__box{
                padding: 20px;
                background: none;
                grid-template-columns: 1fr;
                gap: v.$gap-5;
                .cumulative{
                    display: flex;
                    border-right: none;
                    align-items: center;
                    justify-content: space-between;
                    .num{
                        margin-top:0;
                        b{
                            font-size: v.$font-heading-medium;
                        }
                        small{
                            font-size: v.$font-body-small;
                            display: inline-flex;
                            margin-left: v.$padding-2; 
                        }
                    }
                }
                .grade{
                    background: #fff;
                    padding: v.$padding-6 20px;
                    border-radius: 12px;
                    &>ul{
                        display: flex;
                        gap: v.$padding-5;
                        flex-direction: column;
                        border-right: none;
                        padding-right: 0; 
                    }
                    &>ul>li{
                        font-size: v.$font-body-small;
                        padding: 0 0 v.$padding-3 0;
                        
                        &:last-child{
                            border-bottom: none;
                            padding-bottom:0;
                        }
                    }
                }
                .period{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    justify-content: space-between;
                    font-size: v.$font-body-small;
                    gap: 0;
                    .num{
                        text-align: right;
                        font-size: v.$font-body-small;
                        b {
                            font-size: v.$font-body-small;
                        }
                    }
                    .date{
                        grid-column: 1 / 3;
                        text-align: right;
                    }

                }
            }
        }
        .board__top {
            
            .total {
                flex-direction: column;
                gap: v.$gap-1;

                
                .search__period{
                    display: block;
                }
            }
        }
        .board__list {
            &.scroll{
              max-width:100%;
            }
            .board__table {
                width: 100%;
                .board__tr{
                    gap: v.$gap-5;
                }
                .td,
                .th {
                    &.status {
                        width: 100%;
                    }

                    &.offense {
                        width: 100%;
                    }

                    &.grade {
                        width: 100%;
                    }

                    &.division {
                        width: 100%;
                    }

                    &.penalty {
                        width: 100%;
                    }

                    &.period {
                        width: 100%;
                    }

                    &.detail {
                        width: 100%;
                    }

                    &.manager {
                        width: 100%;
                    }
                }
                .td{
                    flex-direction: column;
                    gap: v.$gap-3;
                    text-align: left;
                }
                
            }
        }
    }
    .deposit{
        .deposit__box{
            .round__box{
                padding: v.$padding-7;
                .tit{
                    
                }
                .list{
                    flex-direction: column;
                    &>li{
                        display: list-item;
                        background-color: #fff;
                        padding: v.$padding-5;
                        border-radius: v.$border-radius;
                        &+li{
                            margin-top: v.$padding-3;
                        }
                        .badge__wrap{
                            margin-bottom: v.$padding-3;
                            .badge{
                                padding: 0 v.$padding-3;
                                span{
                                    font-size: v.$font-body-xsmall;
                                    line-height:24px;
                                }
                            }
                        }
                        .num{
                            display: inline-flex;
                            font-size: v.$font-body-small;
                        }
                        .name {
                            display: inline-flex;
                            font-size: v.$font-body-small;
                            margin-left: v.$padding-2;
                        }
                    }
                }
            }
        }
        .search__area .input__area>ul>li .items .search__box .input__box {
            width: 100%;
        }
        
        .board__wrap {
            .board__table {
                .board__tr {
                    gap: v.$padding-5;
                    .th,
                    .td {
                        justify-content: space-between;
                        &.division {
                            width: 100%
                        }

                        &.date {
                            width: 100%
                        }

                        &.name {
                            width: 100%;
                        }

                        &.bank {
                            width: 100%;
                        }

                        &.amount {
                            width: 100%;
                            text-align: right;
                        }

                    }
                }
            }
        }
    }
}