@use "../base/variable"as v;
@use "../base/mixin"as m;
@use "../base/breakpoints"as b;

footer{
    background-color: v.$color-surface-footer;
    .footer__wrap{
        @include m.set-inner();
        padding: v.$padding-10 0 v.$padding-8;

        .logo__area{
            display:flex;
            align-items: center;
            em{
                display: inline-flex;
                color: v.$gray-color-50;
                margin-left: v.$gap-6;
                font-size: 28px;
                font-weight: v.$font-weight-bold;
            }
        }
        .address__area{
            margin-top: v.$gap-9;
            &>ul{
                display: flex;
                flex-wrap: wrap;
                gap: v.$gap-7;
            }
            b {
                font-weight: v.$font-weight-regular;
            }
        }
        .business__area{
            margin-top: v.$padding-8;
            &>ul {
                display: flex;
                flex-wrap: wrap;
                gap: v.$gap-7;
            }
            a{
                display: inline-flex;
                text-decoration: underline;
                font-weight: v.$font-weight-semi-bold;
                margin-left: v.$padding-8;
            }
            b{
                font-weight: v.$font-weight-regular;
            }
        }
        .info{
            margin-top: v.$padding-8;
        }
        .copyright{
            margin-top: v.$padding-8;
        }
    }
}

@include b.size-mobile {
    footer{
        .footer__wrap {
            max-width: 100%;
            padding: v.$padding-8 v.$padding-6;

            .logo__area{
                img{
                    height: 30px;
                }
                em{
                    font-size: v.$font-heading-medium;
                    margin-left: v.$padding-5;
                }
            }
            .address__area,
            .business__area {
                font-size: v.$font-body-small;
                &>ul{
                    gap: v.$padding-3;
                    flex-direction: column;
                    em{
                        display: none;
                    }
                    b{
                        font-weight: v.$font-weight-semi-bold;
                    }
                }
            }
            .address__area{
                margin-top: v.$padding-8;
            }
            .business__area{
                margin-top: v.$padding-3;
                a{
                    display:block;
                    margin-left: 0;
                    margin-top: v.$padding-3;
                }
            }
            .info,
            .copyright {
                margin-top: v.$padding-3;
                font-size: v.$font-body-small;
            }

        }
    }
    
}