@use "../base/variable"as v;
@use "../base/mixin"as m;
@use "../base/breakpoints"as b;

$gnb-height:80px;

body {
    &.is__open {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }
}

.header {
    &__wrap {
        @include m.position($p: fixed, $t: 0, $l: 0);
        width: 100%;
        background-color: #fff;
        z-index: 2000;
        border-bottom: 1px solid v.$gray-color-10;
    }

    .header__inner {
        @include m.flex-center();

        &:first-child {
            background-color: #EEF2F7;
            height: 60px;
        }
    }

    .notice__area {
        @include m.flex-between();
        align-items: center;
        width: v.$content-size;

        div>ul {
            display: inline-flex;
            gap: v.$gap-3;

            li>span {
                line-height: 36px;
            }

            .age {
                padding-left: 32px;
                background: url(../img/common/ico_megaphone.svg) no-repeat center left;

                span {
                    color: v.$color-information;
                    font-weight: v.$font-weight-semi-bold;
                }
            }

            .maximum {
                margin-left: v.$padding-2;
                padding-right: 78px;
                background: url(../img/common/img-sale-notice.png) no-repeat center right /70px;

                span {
                    color: v.$color-dager-dark;
                    font-weight: v.$font-weight-semi-bold;
                }
            }

            .my_store {
                span {
                    @include m.ellipsis(330px, 1);
                }
            }

            .store {
                display: flex;
                align-items: center;
            }

            .btn-alrim {
                padding: 6px;

                span {
                    display: block;
                    @include m.hidden-text();
                    height: 0;
                    width: 0;
                }

                &.no__list {
                    .svg__icon {
                        background-image: url(../img/common/ico-bell.svg);
                    }

                }
            }
        }
    }

    .logo__area {
        display: flex;
        width: v.$content-size;
        background-color: #fff;
        height: $gnb-height;
        align-items: center;

        .logo {
            position: relative;
            z-index: 10;

        }

        a {
            display: flex;
            align-items: center;

            span {
                font-size: v.$font-heading-medium;
                color: v.$gray-color-50;
                padding-left: v.$padding-3;
            }
        }
    }

    .gnb {
        @include m.position($t: 60px, $l: 0);
        width: 100%;

        &__inner {
            @include m.set-inner();
            z-index: 1000;

            .main__depth {
                @include m.flex-center-all;
                margin: 0;
                height: $gnb-height;
                column-gap: v.$gap-5;
                transition: all 0.188s ease-in;

                >li {
                    &:nth-child(2) {
                        .sub__inner {
                            .title {
                                i {
                                    background-image: url(../img/common/ico-gnb-2.png);
                                }
                            }
                        }
                    }
                    &:nth-child(3) {
                        .sub__inner {
                            .title {
                                i {
                                    background-image: url(../img/common/ico-gnb-3.png);
                                }
                            }
                        }
                    }
                    &:nth-child(4) {
                        .sub__inner {
                            .title {
                                i {
                                    background-image: url(../img/common/ico-gnb-4.png);
                                }
                            }
                        }
                    }
                    &:nth-child(5) {
                        .sub__inner {
                            .title {
                                i {
                                    background-image: url(../img/common/ico-gnb-5.png);
                                }
                            }
                        }
                    }
                }

                >li>a {
                    display: block;
                    padding: 0 v.$padding-6;
                    font-weight: v.$font-weight-bold;
                    font-size: v.$font-body-large;
                    color: v.$text-color-sub;
                    height: $gnb-height;
                    line-height: $gnb-height;

                    &:hover {
                        color: v.$primary-color-dark;
                        border-bottom: 4px solid v.$primary-color;
                    }
                }
            }

            .sub__wrap {
                display: none;
                @include m.position($t:$gnb-height, $l:0);
                background: #fff;
                width: 100%;
                z-index: 100;

                &.on {
                    display: block;
                    height: auto;
                }

                .sub__inner {
                    @include m.set-inner();
                    display: flex;

                    .title__area {
                        padding: v.$padding-9 0;
                        flex-basis: 240px;

                        .title {
                            text-align: center;

                            i {
                                display: inline-flex;
                                @include m.square(90px);
                                border-radius: 50%;
                                background: v.$primary-color-lighter url(../img/common/ico-gnb-1.png) no-repeat center center / 52px;
                            }

                            em {
                                display: block;
                                font-size: v.$font-heading-medium;
                                font-weight: v.$font-weight-bold;
                            }
                        }

                    }

                    .depth__1 {
                        display: flex;
                        gap: 48px 64px;
                        align-self: stretch;
                        flex-wrap: wrap;
                        flex-grow: 1;
                        padding: v.$padding-8 0 v.$padding-8 v.$padding-10;

                        &>li {
                            display: flex;
                            gap: v.$gap-2;
                            align-self: stretch;
                            flex-basis: 290px;
                            flex-direction: column;

                            >a {
                                padding: v.$padding-4 0;
                                border-bottom: 1px solid v.$gray-color-20;
                                font-size: v.$font-heading-small;
                                font-weight: v.$font-weight-bold;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            .depth__2 {
                                padding-top: v.$padding-3;
                                padding-bottom: v.$padding-6;

                                &>li {

                                    &>a {
                                        display: block;
                                        position: relative;
                                        padding: v.$padding-4 0;

                                        &::before {
                                            display: inline-flex;
                                            content: '';
                                            @include m.square(4px);
                                            background-color: v.$gray-color-80;
                                            position: absolute;
                                            top: 50%;
                                            left: 0;
                                            transform: translateY(-50%);
                                        }

                                        span {
                                            display: inline-flex;
                                            padding-left: v.$padding-4;

                                        }

                                        &:hover {
                                            span {
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .gnb__bg {
        display: none;
        width: 100%;
        height: calc(100vh - 140px);
        position: absolute;
        top: 140px;
        left: 0;
        background-color: #000;
        opacity: .65;

        &.pop {
            display: block;
            position: fixed;
            height: 100vh;
            top: 0;
            z-index: 1001;
        }

        &.on {
            display: block;
        }
    }
}

.mo__header {
    display: none;
}

@include b.size-mobile {


    .header {
        display: none;
    }

    .mo__header {
        display: block;

        .header__wrap {
            z-index: 1000;
            position: relative;
        }

        .notice__area {
            @include m.flex-between();
            align-items: center;
            background-color: #EEF2F7;
            padding: v.$padding-3 v.$padding-4;
            font-size: v.$font-body-xsmall;
            width: 100%;

            div>ul {
                li>span {
                    line-height: 20px;
                }

                .age {
                    padding-left: 32px;
                    background: url(../img/common/ico_megaphone.svg) no-repeat center left 6px / 18px;

                    span {
                        color: v.$color-information;
                        font-weight: v.$font-weight-semi-bold;
                    }
                }

                .maximum {
                    padding-left: 45px;
                    background: url(../img/common/img-sale-notice.png) no-repeat center left /42px;

                    span {
                        color: v.$color-dager-dark;
                        font-weight: v.$font-weight-semi-bold;
                    }
                }

            }
        }

        .header__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            padding: v.$padding-5 v.$padding-6;
            border-bottom: 1px solid v.$gray-color-20;

            .logo__area {
                .logo {
                    img {
                        height: 24px;
                    }

                    span {
                        display: block;
                        text-align: right;
                        color: v.$gray-color-50;
                        font-size: v.$font-body-small;
                        line-height: 1.2;
                        font-weight: v.$font-weight-bold;
                    }
                }
            }

            .actions {
                display: flex;

                &>div {
                    padding: v.$padding-2 v.$padding-5 0 v.$padding-5;

                    span {
                        font-size: v.$font-body-small;
                        font-weight: v.$font-weight-bold;
                    }
                }

                .alrim__area {
                    .btn__alrim {
                        display: block;
                        text-align: center;

                        span {
                            display: block;
                        }

                        i.bell {
                            background-size: 16px;
                            margin: 0 auto;
                        }

                        &.no__list {
                            .svg__icon {
                                background-image: url(../img/common/ico-bell.svg);
                            }

                        }
                    }
                }

                .btn__area {
                    .btn__navi {
                        display: block;
                        text-align: center;

                        span {
                            display: block;
                        }

                        i {
                            margin: 0 auto;
                        }

                    }
                }
            }
        }

        .menu__mobile {
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 1500;
            width: 100%;
            height: 100%;
            visibility: hidden;
            transition: 0.4s ease-in-out;

            &.is__open {
                visibility: visible;
                right: 0;

                &::after {
                    opacity: 1;
                }
            }

            .gnb__wrap {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1500;
                height: 100%;
                width: 100%;
                background: #fff;

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 39vw;
                    height: 100%;
                    min-height: 40.5rem;
                    background-color: v.$color-surface-box;
                    z-index: -1;
                    content: '';
                }

                .logout__area {
                    width: 39vw;
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    bottom: 24px;
                }

                .gnb__inner {
                    display: flex;
                    align-items: normal;
                    justify-content: flex-start;
                    flex-direction: column;
                    height: 100%;

                    .gnb__header {
                        border-bottom: 1px solid v.$gray-color-20;
                        background-color: #fff;

                        .title {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: v.$padding-6;

                            h2 {
                                font-weight: v.$font-weight-semi-bold;
                            }
                        }
                    }

                    .gnb__body {
                        display: flex;
                        align-items: normal;
                        justify-content: flex-start;
                        flex-direction: column;
                        flex: 1;
                        overflow-y: auto;
                        scroll-behavior: auto; //smooth;

                        .menu__wrap {
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            flex-direction: column;
                            position: relative;
                            top: 0;
                            left: 0;

                            &>ul {
                                position: sticky;
                                top: 0;
                                left: 0;
                                z-index: 1;
                                width: 100%;

                                li.active {
                                    .menu__trigger {
                                        color: v.$primary-color-dark;
                                        background: #fff;
                                    }

                                    .sub__list {
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }

                                .menu__trigger {
                                    display: block;
                                    padding: v.$padding-6 v.$padding-8;
                                    font-weight: v.$font-weight-bold;
                                    width: 39vw;
                                    transition: 0.2s ease-in-out;
                                }

                                .sub__list {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    width: 61vw;
                                    padding: v.$padding-6 v.$padding-6 0 v.$padding-6;
                                    visibility: hidden;
                                    transition: 0.2s ease-in-out;
                                    opacity: 0;

                                    .title {
                                        border-bottom: 1px solid v.$gray-color-30;

                                        span {
                                            display: block;
                                            font-size: v.$font-body-large;
                                            font-weight: v.$font-weight-bold;
                                            padding: v.$padding-2 0 v.$padding-5;
                                        }

                                    }

                                    &>ul {
                                        margin-top: v.$padding-2;
                                    }

                                    .menu__link {
                                        display: block;
                                        padding: v.$padding-5 0;
                                        width: 100%;
                                        text-align: left;

                                    }

                                    .sub__link {
                                        display: block;
                                        position: relative;
                                        padding: v.$padding-4 0 v.$padding-4 v.$padding-4;

                                        &::before {
                                            content: '';
                                            display: block;
                                            position: absolute;
                                            left: 0;
                                            top: 50%;
                                            @include m.square(4px);
                                            border-radius: 50%;
                                            background: v.$gray-color-80;
                                            transform: translateY(-50%)
                                        }
                                    }

                                }
                            }
                        }

                        .submenu__wrap {
                            display: flex;
                            align-items: normal;
                            justify-content: flex-start;
                            flex-direction: column;
                            flex: 1;
                            background: #fff;
                            padding-bottom: 400px;

                            .sub__list {
                                padding: v.$padding-6 v.$padding-6 0 v.$padding-6;

                                .title {
                                    border-bottom: 1px solid v.$gray-color-30;

                                    span {
                                        display: block;
                                        font-size: v.$font-body-large;
                                        font-weight: v.$font-weight-bold;
                                        padding: v.$padding-2 0 v.$padding-5;
                                    }

                                }

                                &>ul {
                                    margin-top: v.$padding-2;
                                }

                                &>ul>li>a,
                                &>ul>li>button {
                                    display: block;
                                    padding: v.$padding-5 0;

                                }
                            }

                        }
                    }
                }

            }
        }

    }
}

@media (orientation: landscape) {
    .mo__header .menu__mobile .gnb__wrap .logout__area {
        position: static;
    }
}