@use "../base/variable"as v;
@use "../base/mixin"as m;
@use "../base/breakpoints"as b;

.education{
    .board__wrap {
        margin-top: v.$gap-10;
    }
    .board__detail{
        .video__area{
            position: relative;
            width: 100%;
            padding-top: 56.25%;
            /* 16:9 비율 = 9/16 * 100 */
            height: 0;
            overflow: hidden;
            margin-bottom: v.$padding-10;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .submit__btn__area{
            padding: v.$padding-10 0 v.$gap-11;
            border-top: 1px solid v.$gray-color-20;
            border-bottom: 1px solid v.$gray-color-20;
            display: flex;
            flex-direction: column;
            align-items: center;
            .info {
                font-size: v.$font-heading-small;
                color: v.$gray-color-70;
                em {
                    color: v.$color-dager;
                    font-weight: v.$font-weight-semi-bold;
                }
            }
            .form__area{
                margin-top: v.$padding-6;
                label{
                    font-size: v.$font-heading-medium;
                    font-weight: v.$font-weight-semi-bold;
                    color: v.$gray-color-70;

                }
            }
            .btn{
                margin-top: v.$gap-10;
                width:200px;
            }
        }
    }
}
